section.contact-info
	.container 
		.container-custom.size-1365px 
			.auv-contact-content
				.auv-contact-title 
					p Employment Oppoturnities
				.block-list-items
					-for(i=0;i<=2;i++)
						.block__item-contact
								.img--news
									img.object-cover.fullsize(src=`./assets/images/contact/c-${i+1}.png`, alt="something")
								.items--desc
									p.title LOREM IPSUM DOLOR SIT
									.info-desc
										p Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor 	incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.