section.notify-student(data-section="Announcements")
	.container 
		.container-custom.size-1365px
			.student-note 
				.student-title 
					p Announcements
				.note-day
					-for(i=0;i<=2;i++)
						.note-st--main
							.day-st.col-4
								p Wednesday December 23, 2020
							.desc-st.col-8
								p Mandatory meeting for students and faculty in the AUV first-floor meeting room.