section.notify-student(data-section="Announcements")
	.container 
		.container-custom.size-1365px
			.student-note 
				.student-title 
					p Announcements
				.note-day
					.note-st--main
						.day-st.col-4
							p Wednesday December 23, 2020
						.desc-st.col-8
							p Final day of Late Autumn Term.
					.note-st--main
						.day-st.col-4
							p Monday January 4, 2021
						.desc-st.col-8
							p First day of Spring Term.
					.note-st--main
						.day-st.col-4
							p Tuesday January 5, 2021
						.desc-st.col-8
							p Mandatory meeting for students and faculty in the AUV first-floor meeting room.
				//- -for(i=0;i<=2;i++)
					//- 	.note-st--main
					//- 		.day-st.col-4
					//- 			p Wednesday December 23, 2020
					//- 		.desc-st.col-8
					//- 			p Mandatory meeting for students and faculty in the AUV first-floor meeting room.
					
