section.student-news(fp-bg="../assets/images/student/st-2.png" data-section="Student Association And Alumni")
	.container 
		.container-custom.size-1365px 
			.student-news-auv
				.block-list-items
					.img--news
						img.object-cover.fullsize(src=`./assets/images/student/st-1.png`, alt="something")
					.items--desc
						p.title Student Association And Alumni
						.info-desc
							p The AUV Association of Students (AOS) is a group of students who meet regularly to plan on-and-off campus events, charity trips, social gatherings, team-building exercises, overnight adventures, and work-study to enhance student experience at AUV. AOS also advocates on behalf of students to make sure faculty and administration are responsive to the needs and concerns of the student body. AOS elects a president and vice-president every academic year and selects a faculty advisor to serve as a liaison between the organization and AUV administration. AOV elections will be held soon. Please refer to Announcements for more information on the time and date.