section.library-student
	.container 
		.container-custom.size-1365px 
			.student-library-auv
				.block-list-items
					.img--library
						img.object-cover.fullsize(src=`./assets/images/student/li.png`, alt="something")
					.desc--library
						p.title Library
						.info-desc
							.info-lib
								h2 HOURS
								.time-lib
									p.day.col-6 Monday - Friday
									p.time.col-6 8:00AM - 4:30PM
								.time-lib
									p.day.col-6 Saturday
									p.time.col-6 8:00AM - 11:30AM
							.info-lib
								h2 LIBRARY DIRECTOR
								p.name Ms. Thuy
							.info-lib
								h2 CONTACT
								p.contact thuytt@apu.edu.vn