section.rules-of-conduct
	.container
		.container-custom.size-1365px 
			.tab-container
				.main-title
					p Rules Of Conduct
				.content-items
					.list-tab-content.col-8
						.tab-content
							.content(tab-id="item-1").tab-bch
								p.title-lab POLICY ON VIOLATION OF ACADEMIC HONESTY
								.sub-title
									.title
										p INTRODUCTION
									.desc
										p The purpose of this document is to give students general notice of what constitutes a violation of academic honesty regarding plagiarism, cheating, and/or unauthorized collusion. Students are responsible for complying with this policy.
										p The University reserves the right to take appropriate disciplinary action when a student engages in an act of academic dishonesty. The authority for student discipline is vested in the office of the Chancellor. 
								.sub-title
									.title
										p DEFINITIONS
									.desc
										p The purpose of this document is to give students general notice of what constitutes a violation of academic honesty regarding plagiarism, cheating, and/or unauthorized collusion. Students are responsible for complying with this policy.
										p The University reserves the right to take appropriate disciplinary action when a student engages in an act of academic dishonesty. The authority for student discipline is vested in the office of the Chancellor. 

						.tab-content
							.content(tab-id="item-2").tab-bch
								p.title-lab VIOLATION OF ACADEMIC HONESTY
								.sub-title
									.title
										p INTRODUCTION
									.desc
										p The purpose of this document is to give students general notice of what constitutes a violation of academic honesty regarding plagiarism, cheating, and/or unauthorized collusion. Students are responsible for complying with this policy.
										p The University reserves the right to take appropriate disciplinary action when a student engages in an act of academic dishonesty. The authority for student discipline is vested in the office of the Chancellor. 
								.sub-title
									.title
										p DEFINITIONS
									.desc
										p The purpose of this document is to give students general notice of what constitutes a violation of academic honesty regarding plagiarism, cheating, and/or unauthorized collusion. Students are responsible for complying with this policy.
										p The University reserves the right to take appropriate disciplinary action when a student engages in an act of academic dishonesty. The authority for student discipline is vested in the office of the Chancellor. 

						.tab-content
							.content(tab-id="item-3").tab-bch
								p.title-lab EXAMPLES OF ACADEMIC DISHONESTY
								.sub-title
									.title
										p INTRODUCTION
									.desc
										p The purpose of this document is to give students general notice of what constitutes a violation of academic honesty regarding plagiarism, cheating, and/or unauthorized collusion. Students are responsible for complying with this policy.
										p The University reserves the right to take appropriate disciplinary action when a student engages in an act of academic dishonesty. The authority for student discipline is vested in the office of the Chancellor. 
								.sub-title
									.title
										p DEFINITIONS
									.desc
										p The purpose of this document is to give students general notice of what constitutes a violation of academic honesty regarding plagiarism, cheating, and/or unauthorized collusion. Students are responsible for complying with this policy.
										p The University reserves the right to take appropriate disciplinary action when a student engages in an act of academic dishonesty. The authority for student discipline is vested in the office of the Chancellor. 
						.tab-content
							.content(tab-id="item-4").tab-bch
								p.title-lab SANCTIONS FOR ACADEMIC DISHONESTY
								.sub-title
									.title
										p INTRODUCTION
									.desc
										p The purpose of this document is to give students general notice of what constitutes a violation of academic honesty regarding plagiarism, cheating, and/or unauthorized collusion. Students are responsible for complying with this policy.
										p The University reserves the right to take appropriate disciplinary action when a student engages in an act of academic dishonesty. The authority for student discipline is vested in the office of the Chancellor. 
								.sub-title
									.title
										p DEFINITIONS
									.desc
										p The purpose of this document is to give students general notice of what constitutes a violation of academic honesty regarding plagiarism, cheating, and/or unauthorized collusion. Students are responsible for complying with this policy.
										p The University reserves the right to take appropriate disciplinary action when a student engages in an act of academic dishonesty. The authority for student discipline is vested in the office of the Chancellor. 
						.tab-content
							.content(tab-id="item-5").tab-bch
								p.title-lab TYPICAL PROCEDURE
								.sub-title
									.title
										p INTRODUCTION
									.desc
										p The purpose of this document is to give students general notice of what constitutes a violation of academic honesty regarding plagiarism, cheating, and/or unauthorized collusion. Students are responsible for complying with this policy.
										p The University reserves the right to take appropriate disciplinary action when a student engages in an act of academic dishonesty. The authority for student discipline is vested in the office of the Chancellor. 
								.sub-title
									.title
										p DEFINITIONS
									.desc
										p The purpose of this document is to give students general notice of what constitutes a violation of academic honesty regarding plagiarism, cheating, and/or unauthorized collusion. Students are responsible for complying with this policy.
										p The University reserves the right to take appropriate disciplinary action when a student engages in an act of academic dishonesty. The authority for student discipline is vested in the office of the Chancellor. 
						.btn-remore.btn
							button 
								span MORE 
									img.object-cover.svg(src="./assets/images/index/arrow1.svg", alt="")
					.block__main--title.col-
						p.title( toggle-for='item-1') POLICY ON VIOLATION OF ACADEMIC HONESTY
						p.title( toggle-for='item-2') VIOLATION OF ACADEMIC HONESTY
						p.title( toggle-for='item-3') EXAMPLES OF ACADEMIC DISHONESTY
						p.title( toggle-for='item-4') SANCTIONS FOR ACADEMIC DISHONESTY
						p.title( toggle-for='item-5') TYPICAL PROCEDURE