section.rules-of-conduct
	.container
		.container-custom.size-1365px 
			.tab-container
				.main-title
					p Rules Of Conduct
				.content-items
					.block__main--title.col-3
						p.title( toggle-for='item-1') POLICY ON VIOLATION OF ACADEMIC HONESTY
						p.title( toggle-for='item-2') VIOLATION OF ACADEMIC HONESTY
						p.title( toggle-for='item-3') EXAMPLES OF ACADEMIC DISHONESTY
						p.title( toggle-for='item-4') SANCTIONS FOR ACADEMIC DISHONESTY
						p.title( toggle-for='item-5') TYPICAL PROCEDURE
					.list-tab-content.col-9
						.tab-content
							.content(tab-id="item-1").tab-bch
								p.title-lab POLICY ON VIOLATION OF ACADEMIC HONESTY
								.sub-title
									.title
										p INTRODUCTION
									.desc
										p Lorem, ipsum dolor sit amet consectetur adipisicing elit. Iste distinctio neque sunt nihil architecto culpa id sed eaque, asperiores suscipit hic corrupti quas magni atque. Iusto illum corporis odio temporibus!Lorem, ipsum dolor sit amet consectetur adipisicing elit. Iste distinctio neque sunt nihil architecto culpa id sed eaque, asperiores suscipit hic corrupti quas magni atque. Iusto illum corporis odio temporibus!Lorem, ipsum dolor sit amet consectetur adipisicing elit. Iste distinctio neque sunt nihil architecto culpa id sed eaque, asperiores suscipit hic corrupti quas magni atque. Iusto illum corporis odio temporibus!Lorem, ipsum dolor sit amet consectetur adipisicing elit. Iste distinctio neque sunt nihil architecto culpa id sed eaque, asperiores suscipit hic corrupti quas magni atque. Iusto illum corporis odio temporibus!Lorem, ipsum dolor sit amet consectetur adipisicing elit. Iste distinctio neque sunt nihil architecto culpa id sed eaque, asperiores suscipit hic corrupti quas magni atque. Iusto illum corporis odio temporibus!
								.sub-title
									.title
										p DEFINITIONS
									.desc
										p Lorem, ipsum dolor sit amet consectetur adipisicing elit. Iste distinctio neque sunt nihil architecto culpa id sed eaque, asperiores suscipit hic corrupti quas magni atque. Iusto illum corporis odio temporibus!Lorem, ipsum dolor sit amet consectetur adipisicing elit. Iste distinctio neque sunt nihil architecto culpa id sed eaque, asperiores suscipit hic corrupti quas magni atque. Iusto illum corporis odio temporibus!Lorem, ipsum dolor sit amet consectetur adipisicing elit. Iste distinctio neque sunt nihil architecto culpa id sed eaque, asperiores suscipit hic corrupti quas magni atque. Iusto illum corporis odio temporibus!Lorem, ipsum dolor sit amet consectetur adipisicing elit. Iste distinctio neque sunt nihil architecto culpa id sed eaque, asperiores suscipit hic corrupti quas magni atque. Iusto illum corporis odio temporibus!Lorem, ipsum dolor sit amet consectetur adipisicing elit. Iste distinctio neque sunt nihil architecto culpa id sed eaque, asperiores suscipit hic corrupti quas magni atque. Iusto illum corporis odio temporibus!

						.tab-content
							.content(tab-id="item-2").tab-bch
								p.title-lab VIOLATION OF ACADEMIC HONESTY
								.sub-title
									.title
										p INTRODUCTION
									.desc
										p Lorem, ipsum dolor sit amet consectetur adipisicing elit. Iste distinctio neque sunt nihil architecto culpa id sed eaque, asperiores suscipit hic corrupti quas magni atque. Iusto illum corporis odio temporibus!Lorem, ipsum dolor sit amet consectetur adipisicing elit. Iste distinctio neque sunt nihil architecto culpa id sed eaque, asperiores suscipit hic corrupti quas magni atque. Iusto illum corporis odio temporibus!Lorem, ipsum dolor sit amet consectetur adipisicing elit. Iste distinctio neque sunt nihil architecto culpa id sed eaque, asperiores suscipit hic corrupti quas magni atque. Iusto illum corporis odio temporibus!Lorem, ipsum dolor sit amet consectetur adipisicing elit. Iste distinctio neque sunt nihil architecto culpa id sed eaque, asperiores suscipit hic corrupti quas magni atque. Iusto illum corporis odio temporibus!Lorem, ipsum dolor sit amet consectetur adipisicing elit. Iste distinctio neque sunt nihil architecto culpa id sed eaque, asperiores suscipit hic corrupti quas magni atque. Iusto illum corporis odio temporibus!
								.sub-title
									.title
										p DEFINITIONS
									.desc
										p Lorem, ipsum dolor sit amet consectetur adipisicing elit. Iste distinctio neque sunt nihil architecto culpa id sed eaque, asperiores suscipit hic corrupti quas magni atque. Iusto illum corporis odio temporibus!Lorem, ipsum dolor sit amet consectetur adipisicing elit. Iste distinctio neque sunt nihil architecto culpa id sed eaque, asperiores suscipit hic corrupti quas magni atque. Iusto illum corporis odio temporibus!Lorem, ipsum dolor sit amet consectetur adipisicing elit. Iste distinctio neque sunt nihil architecto culpa id sed eaque, asperiores suscipit hic corrupti quas magni atque. Iusto illum corporis odio temporibus!Lorem, ipsum dolor sit amet consectetur adipisicing elit. Iste distinctio neque sunt nihil architecto culpa id sed eaque, asperiores suscipit hic corrupti quas magni atque. Iusto illum corporis odio temporibus!Lorem, ipsum dolor sit amet consectetur adipisicing elit. Iste distinctio neque sunt nihil architecto culpa id sed eaque, asperiores suscipit hic corrupti quas magni atque. Iusto illum corporis odio temporibus!

						.tab-content
							.content(tab-id="item-3").tab-bch
								p.title-lab EXAMPLES OF ACADEMIC DISHONESTY
								.sub-title
									.title
										p INTRODUCTION
									.desc
										p Lorem, ipsum dolor sit amet consectetur adipisicing elit. Iste distinctio neque sunt nihil architecto culpa id sed eaque, asperiores suscipit hic corrupti quas magni atque. Iusto illum corporis odio temporibus!Lorem, ipsum dolor sit amet consectetur adipisicing elit. Iste distinctio neque sunt nihil architecto culpa id sed eaque, asperiores suscipit hic corrupti quas magni atque. Iusto illum corporis odio temporibus!Lorem, ipsum dolor sit amet consectetur adipisicing elit. Iste distinctio neque sunt nihil architecto culpa id sed eaque, asperiores suscipit hic corrupti quas magni atque. Iusto illum corporis odio temporibus!Lorem, ipsum dolor sit amet consectetur adipisicing elit. Iste distinctio neque sunt nihil architecto culpa id sed eaque, asperiores suscipit hic corrupti quas magni atque. Iusto illum corporis odio temporibus!Lorem, ipsum dolor sit amet consectetur adipisicing elit. Iste distinctio neque sunt nihil architecto culpa id sed eaque, asperiores suscipit hic corrupti quas magni atque. Iusto illum corporis odio temporibus!
								.sub-title
									.title
										p DEFINITIONS
									.desc
										p Lorem, ipsum dolor sit amet consectetur adipisicing elit. Iste distinctio neque sunt nihil architecto culpa id sed eaque, asperiores suscipit hic corrupti quas magni atque. Iusto illum corporis odio temporibus!Lorem, ipsum dolor sit amet consectetur adipisicing elit. Iste distinctio neque sunt nihil architecto culpa id sed eaque, asperiores suscipit hic corrupti quas magni atque. Iusto illum corporis odio temporibus!Lorem, ipsum dolor sit amet consectetur adipisicing elit. Iste distinctio neque sunt nihil architecto culpa id sed eaque, asperiores suscipit hic corrupti quas magni atque. Iusto illum corporis odio temporibus!Lorem, ipsum dolor sit amet consectetur adipisicing elit. Iste distinctio neque sunt nihil architecto culpa id sed eaque, asperiores suscipit hic corrupti quas magni atque. Iusto illum corporis odio temporibus!Lorem, ipsum dolor sit amet consectetur adipisicing elit. Iste distinctio neque sunt nihil architecto culpa id sed eaque, asperiores suscipit hic corrupti quas magni atque. Iusto illum corporis odio temporibus!
						.tab-content
							.content(tab-id="item-4").tab-bch
								p.title-lab SANCTIONS FOR ACADEMIC DISHONESTY
								.sub-title
									.title
										p INTRODUCTION
									.desc
										p Lorem, ipsum dolor sit amet consectetur adipisicing elit. Iste distinctio neque sunt nihil architecto culpa id sed eaque, asperiores suscipit hic corrupti quas magni atque. Iusto illum corporis odio temporibus!Lorem, ipsum dolor sit amet consectetur adipisicing elit. Iste distinctio neque sunt nihil architecto culpa id sed eaque, asperiores suscipit hic corrupti quas magni atque. Iusto illum corporis odio temporibus!Lorem, ipsum dolor sit amet consectetur adipisicing elit. Iste distinctio neque sunt nihil architecto culpa id sed eaque, asperiores suscipit hic corrupti quas magni atque. Iusto illum corporis odio temporibus!Lorem, ipsum dolor sit amet consectetur adipisicing elit. Iste distinctio neque sunt nihil architecto culpa id sed eaque, asperiores suscipit hic corrupti quas magni atque. Iusto illum corporis odio temporibus!Lorem, ipsum dolor sit amet consectetur adipisicing elit. Iste distinctio neque sunt nihil architecto culpa id sed eaque, asperiores suscipit hic corrupti quas magni atque. Iusto illum corporis odio temporibus!
								.sub-title
									.title
										p DEFINITIONS
									.desc
										p Lorem, ipsum dolor sit amet consectetur adipisicing elit. Iste distinctio neque sunt nihil architecto culpa id sed eaque, asperiores suscipit hic corrupti quas magni atque. Iusto illum corporis odio temporibus!Lorem, ipsum dolor sit amet consectetur adipisicing elit. Iste distinctio neque sunt nihil architecto culpa id sed eaque, asperiores suscipit hic corrupti quas magni atque. Iusto illum corporis odio temporibus!Lorem, ipsum dolor sit amet consectetur adipisicing elit. Iste distinctio neque sunt nihil architecto culpa id sed eaque, asperiores suscipit hic corrupti quas magni atque. Iusto illum corporis odio temporibus!Lorem, ipsum dolor sit amet consectetur adipisicing elit. Iste distinctio neque sunt nihil architecto culpa id sed eaque, asperiores suscipit hic corrupti quas magni atque. Iusto illum corporis odio temporibus!Lorem, ipsum dolor sit amet consectetur adipisicing elit. Iste distinctio neque sunt nihil architecto culpa id sed eaque, asperiores suscipit hic corrupti quas magni atque. Iusto illum corporis odio temporibus!
						.tab-content
							.content(tab-id="item-5").tab-bch
								p.title-lab TYPICAL PROCEDURE
								.sub-title
									.title
										p INTRODUCTION
									.desc
										p Lorem, ipsum dolor sit amet consectetur adipisicing elit. Iste distinctio neque sunt nihil architecto culpa id sed eaque, asperiores suscipit hic corrupti quas magni atque. Iusto illum corporis odio temporibus!Lorem, ipsum dolor sit amet consectetur adipisicing elit. Iste distinctio neque sunt nihil architecto culpa id sed eaque, asperiores suscipit hic corrupti quas magni atque. Iusto illum corporis odio temporibus!Lorem, ipsum dolor sit amet consectetur adipisicing elit. Iste distinctio neque sunt nihil architecto culpa id sed eaque, asperiores suscipit hic corrupti quas magni atque. Iusto illum corporis odio temporibus!Lorem, ipsum dolor sit amet consectetur adipisicing elit. Iste distinctio neque sunt nihil architecto culpa id sed eaque, asperiores suscipit hic corrupti quas magni atque. Iusto illum corporis odio temporibus!Lorem, ipsum dolor sit amet consectetur adipisicing elit. Iste distinctio neque sunt nihil architecto culpa id sed eaque, asperiores suscipit hic corrupti quas magni atque. Iusto illum corporis odio temporibus!
								.sub-title
									.title
										p DEFINITIONS
									.desc
										p Lorem, ipsum dolor sit amet consectetur adipisicing elit. Iste distinctio neque sunt nihil architecto culpa id sed eaque, asperiores suscipit hic corrupti quas magni atque. Iusto illum corporis odio temporibus!Lorem, ipsum dolor sit amet consectetur adipisicing elit. Iste distinctio neque sunt nihil architecto culpa id sed eaque, asperiores suscipit hic corrupti quas magni atque. Iusto illum corporis odio temporibus!Lorem, ipsum dolor sit amet consectetur adipisicing elit. Iste distinctio neque sunt nihil architecto culpa id sed eaque, asperiores suscipit hic corrupti quas magni atque. Iusto illum corporis odio temporibus!Lorem, ipsum dolor sit amet consectetur adipisicing elit. Iste distinctio neque sunt nihil architecto culpa id sed eaque, asperiores suscipit hic corrupti quas magni atque. Iusto illum corporis odio temporibus!Lorem, ipsum dolor sit amet consectetur adipisicing elit. Iste distinctio neque sunt nihil architecto culpa id sed eaque, asperiores suscipit hic corrupti quas magni atque. Iusto illum corporis odio temporibus!
