section.schedule-student
	.container
		.container-custom.size-1365px
			.schedule-title
				p Schedule
			.schedule-img 
				img.object-cover.fullsize(src=`./assets/images/student/update.png`, alt="something")
				.desc 
					p WEBSITE IS BEING UPDATED
		.tec-lab
			.block-list-items
				.img--news
					img.object-cover.fullsize(src=`./assets/images/student/lab.png`, alt="something")
				.items--desc
					p.title Distance Learning And Technology Lab
					.info-desc
						p While every classroom at AUV is equipped with up-to-date technology that allows for the most innovative teaching practices in Vietnam, the Technology Lab in Room 310 is special. This large room contains 25 tech stations for students, each comprised of a high-performance Dell desktop computer with a lightning quick ethernet connection and direct access to AUV printers. Student computers are connected to a smart instructor workstation for university faculty who wish to utilize the space for technology intensive classes. Using only their student ID information, AUV students can use the resources offered by the lab at no additional cost all day long, Monday through Saturday. 