section.work-shop
	.container
		.container-custom.size-1365px
			.title-work-shop
				.block-title
					h2 Workshop
				.title-desc
					p Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat.
			.row.list-item-work
					.col-md-4.col-sm-6.item
						.content-items
							.img 
								img.object-cover.fullsize(src="./assets/images/student/ws-1.png", alt="")
							.content
								.title 
									p APU'S Got Talent Shine Like A Star
								.text 
									p Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit lobortis nisl ut aliquip ex ea commodo consequat. Duis autem vel eum iriure dolor in hendrerit in vulputate velit esse molestie consequat, vel illum dolore eu feugiat nulla facilisis at vero eros et accumsan et iusto odio dignissim qui blandit praesent luptatum zzril delenit augue duis dolore te feugait nulla facilisi.
					.col-md-4.col-sm-6.item
						.content-items
							.img 
								img.object-cover.fullsize(src="./assets/images/student/ws-2.png", alt="")
							.content
								.title 
									p Career Development Center
								.text 
									p Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit lobortis nisl ut aliquip ex ea commodo consequat. Duis autem vel eum iriure dolor in hendrerit in vulputate velit esse molestie consequat, vel illum dolore eu feugiat nulla facilisis at vero eros et accumsan et iusto odio dignissim qui blandit praesent luptatum zzril delenit augue duis dolore te feugait nulla facilisi.

					.col-md-4.col-sm-6.item
						.content-items
							.img 
								img.object-cover.fullsize(src="./assets/images/student/ws-1.png", alt="")
							.content
								.title 
									p APU'S Got Talent Shine Like A Star
								.text 
									p Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit lobortis nisl ut aliquip ex ea commodo consequat. Duis autem vel eum iriure dolor in hendrerit in vulputate velit esse molestie consequat, vel illum dolore eu feugiat nulla facilisis at vero eros et accumsan et iusto odio dignissim qui blandit praesent luptatum zzril delenit augue duis dolore te feugait nulla facilisi.
	.d-none
		#work-shop
			.list-ws

	.other 
		.title 
			p Other
		.desc
			p We are currently hard at work to provide new opportunities for students and plan extracurricular events such as educational field trips and service-learning adventures. News regarding these topics can be found in Announcements.