section.about-desc
	.container
		.container-custom.size-1365px
			.about-desc__wrapper
				.title
					h2 AUV
				.desc
					p The American University in Vietnam (AUV) is a four-year degree granting university providing liberal arts education and majors to quality-conscious students. AUV is ideal for those who demand top-notch instruction, a solid foundation for advanced career skills, a supportive learning environment, and the opportunity for direct placement in graduate programs (MA, MS, MBA, PhD) in American universities.
					p AUV’s curriculum is entirely based on the American model of higher education. Before choosing to major in a specialized area of interest, students must complete a rigorous general studies program. They must demonstrate proficiency in communication and basic academic skills before strengthening their critical thinking and analytical abilities through a comprehensive study of social sciences, arts and humanities, math and natural sciences, technology and global communication.
					p AUV is home to a vibrant student community that nurtures interaction and involvement. Our students have unique opportunities to experience transnational university life in Vietnam and in the U.S. Students can complete their studies in their preferred field of specialty through 2+2 programs for undergraduate degrees and 2+3, 2+4, 4+1 or 4+2 for master’s degrees at select partner universities in the U.S. Course credits are generally transferable to universities in the U.S. through our U.S. partner institutions or through individual submission to admission offices at other U.S. universities.
					p AUV is accountable to the universities in the U.S. with whom we partner, an International Advisory Board, governing national laws and regulations, and to our world-class faculty and administrative staff.
					p AUV is distinctive in many ways. These are reflected in our mission, our values, an academic philosophy based on a liberal arts education, and the curricula of our introductory courses and majors. Through this uniquely American process we educate individual students to become the professionals, entrepreneurs, artists, executives, and leaders of tomorrow.