section.about-mission(fp-bg="./assets/images/about/mission.png")
	.container
		.container-custom.size-1365px
			.about-mission__wrapper
				.title
					h3 Mission
				.about-content
					.item
						.overlapping-dot(fp-bg="./assets/images/about/mission.png")
						.item__wrapper
							p We envision a global community in which individuals are inspired to create and sustain highly productive, fulfilling, and meaningful lives and to elevate the economic, social, and living conditions of their families and others.
					.item
						.overlapping-dot(fp-bg="./assets/images/about/mission.png")
						.item__wrapper
							p Our mission is to provide a stimulating intellectual community that prepares graduates for the challenges of life, work and leadership in a diverse and rapidly changing world. Such preparation invariably involves equipping future professionals and leaders with cutting-edge knowledge, lifelong skills and higher personal values to function as local actors and global citizens. 
					.item
						.overlapping-dot(fp-bg="./assets/images/about/mission.png")
						.item__wrapper
							p We achieve this mission through the delivery of empowering curricula, programs, scholarship, and face-to-face instruction in ways that develop students’ intellectual capacity, social and global perspectives, and foundations for career success.
