section.about-values
	.container
		.container-custom.size-1365px
			.about-values__wrapper
				.title
					h2 Values
				.tab-container
					.tab-container__wrapper
						.content-active
							.tab-content
								-for(var i = 0;i < 8; i ++)
									.content(tab-id=`item-${i}`)
										.img
											img.object-cover.fullsize.lazyload.blur-up(data-src="./assets/images/about/value.png", alt="")
										.desc
											p Serve as a regional intellectual resource assisting to solve human, economic, public, and environmental problems, and to serve as a catalyst for positive change in economic lives of people in the local, national, and regional communities of Vietnam and Southeast Asia. 
						.content-item
							ul
								li(toggle-for="item-0")
									p Learning and Discovery
								li(toggle-for="item-1")
									p Individual Opportunity and Leadership
								li(toggle-for="item-2")
									p Personal Growth and Responsibility
								li(toggle-for="item-3")
									p Community Development
								li(toggle-for="item-4")
									p Engagement and Motivation
								li(toggle-for="item-5")
									p Global Mindedness
								li(toggle-for="item-6")
									p Empathy
								li(toggle-for="item-7")
									p Openness
			.about-history__wrapper
				.title
					h2 History
				.chart
					.chart__wrapper
						.item
							.title-item
								h3 Over two decades ago
							.desc
								p Over two decades ago, Dr. Binh Tran followed her passion to embark on a lifelong project, providing educational opportunities to young people in Vietnam. Out of that passion came the APU International School – a leading K-12 institution with campuses in Ho Chi Minh City and Danang. Building on the success of APU, a long process lead to the creation of the first American-style university in Vietnam.  
						.item
							.title-item
								h3 2009
							.desc
								p The American University in Vietnam (AUV) received an investment license in 2009 and broke ground for the construction of a large scale campus in Danang City in September 2010.  Soon after, AUV entered into relationships with a number of universities in the U.S. with whom we have formed academic relationships. 
						.item
							.title-item
								h3 AUV
							.desc
								p Along with an International Advisory Board of US educators, AUV established a curricular focus in liberal arts, business administration, management, and communication studies. 
						.item
							.title-item
								h3 2015
							.desc
								p With support from the provincial leaders, the Government of Vietnam, and the community, AUV received approval from the government in 2015 for courses and degrees to begin in fall of 2016.
						.item
							.title-item
								h3 Currently
							.desc
								p AUV is expanding its reach and programs to include business administration, communication studies, broadcast journalism, health sciences, media communications, PR, software engineering, computer science, sustainable tourism, and select other disciplines. 


