section.about-advisory(data-section="Advisory Board")
	.container
		.container-custom.size-1365px
			.about-advisory__wrapper
				.title
					h2 Advisory Board
				.swiper-button-yellow.swiper__wrapper
					.swiper-container
						.swiper-wrapper
							.swiper-slide
								.wrapper
									.img
										img.object-cover.fullsize(src="./assets/images/about/advisory-1.png", alt="")
									.desc
										h5 Dr. Binh Tran
										p Chair of AUV Board of Trustees
										p APU Educational Development Group
							.swiper-slide
								.wrapper
									.img
										img.object-cover.fullsize(src="./assets/images/about/advisory-2.png", alt="")
									.desc
										h5 Roger Davidson
										p Founder
										p Society for Sacred Universal Music
							.swiper-slide
								.wrapper
									.img
										img.object-cover.fullsize(src="./assets/images/about/advisory-3.png", alt="")
									.desc 
										h5 Mr. Jeffrey S. Goss
										p Associate Vice Provost, Vietnam SE Asia Programs
										p Arizona State University  
					.swiper-button-next
					.swiper-button-prev

