section.about-faculty(data-section="Faculty")
	.container
		.container-custom.size-1088px
			.about-faculty__wrapper
				.title
					h2 Faculty
				.about-faculty-slide.swiper-button-yellow
					.swiper-container
						.swiper-wrapper
							.swiper-slide
								.wrapper
									.desc
										.desc__wrapper
											.name
												h5 Jason Nanton
											.job-position
												p Senior Lecturer of Finance
											.place
												p M.B.A., University of Michigan, Ann Arbor
											.about-item
												p Mr. Jason Nanton received his B.S. degree in Economics & Mathematics from Clarkson University in New York, his M.A. Degree in Economics from Michigan State University, and his M.B.A. degree from the University of Michigan, Ross School of Business.  As a Ph.D. Candidate at Michigan State, he taught four courses in Economics. Nanton later served as the lecturer of Micro and Macroeconomics at the Management Development Institute of Singapore.  He was also an academic consultant at the International Business School in Uzbekistan.
												p Mr. Nanton has extensive managerial experience in the financial industry.  He held executive positions at large international credit service companies, including MasterCard, Visa and American Express. At MasterCard, he was the Vice President of Business Development & Digital Innovations for eight years.  During this time, he worked in Singapore on digital initiatives such as HCE, Digital Wallet, AR/VR, Chatbot, Lean/Agile development, and VirtualCard.  In New Zealand, he was managing retail and institutional banking accounts and in Taiwan he managed Citibank Account relationships across China, Hong Kong, Taiwan, Korea, and Japan. 
												p At Visa International, Mr. Nanton was the Director of Visa Consulting in Singapore, managing consulting projects across six countries with more than fifty different banks.  At American Express Travel Related Services, he was the Regional Marketing Manager in Singapore and responsible for the Loyalty Programs of the Asia Pacific region consisting of three million members across ten markets.  Prior to this work, he was the Senior Manager of the New Product Development of American Express Travel Related Services in New York, where he managed the launch of more than a dozen card products in the U.S., U.K. and Canada.
											.btn-remore
												button.btn
													span MORE 
													img.object-cover.svg(src="./assets/images/index/arrow1.svg", alt="")
									.img
										img.object-cover.fullsize(src="./assets/images/about/faculty.png", alt="")
					.swiper-button-next
					.swiper-button-prev
	.d-none
		#popup-faculty.popup