section.about-campus
	.title
		h2 Campus
	.about-campus-slide
		.swiper-container
			.swiper-wrapper
				.swiper-slide
					.img
						img.object-cover.fullsize(src="./assets/images/about/campus-1.png", alt="")
				.swiper-slide
					.img
						img.object-cover.fullsize(src="./assets/images/about/campus-2.png", alt="")
				.swiper-slide
					.img
						img.object-cover.fullsize(src="./assets/images/about/campus-3.png", alt="")