//About-AUV
.about-auv {
	.container {
		margin-top: 100px;
		margin-bottom: 100px;
		.row {
			width: 100%;
			align-items: center;
			.block-about {
				padding-bottom: 30px;
				align-self: flex-end;
				.auv-right {
					max-width: 100%;
					.block-main-title{
						.title {
							p {
								font-size: 7rem;
								color:#d7970c;
								font-weight: bold;
								padding-bottom: 20px;
							}
						}
					}
					.block-list-item {
						padding-bottom: 20px;
						.text {

							p {
								font-size: 18px;
								text-align: justify;
								font-family: Futura-Light;
								color:#989898 ;
								overflow: hidden;
								text-overflow:ellipsis;
								-webkit-line-clamp: 6;
								display: -webkit-box;
								-webkit-box-orient: vertical;
							}
						}
					}
					.btn-remore {
						text-align: right;
						button {
							border: solid;
							width: 111px;
							height: 35px;
							font-size: 17px;
							font-weight: bold;
							background-color: #ffffff;
							border-color: #d7970c;
							display: inline-flexbox;
						}
					}
				}
				.auv-left {
					.img {
						position: relative;
						img {
							&:hover {
								transition: .5s all ease-in-out;
								box-shadow: 0px 3px 6px rgba($color: #000000, $alpha: .16);
							}
						}
						.note {
							p{
								position: absolute;
								top :22%;
								right: -55px;
								transform: rotate(-90deg);
								color: #d7970c;
								font-size: 16px;
								font-weight: bold;
								&::after {
									content: "";
									position: absolute;
									width: 58px;
									height: 1px;
									bottom: 50%	;
									background-color:#d7970c;
								}
							}
							}
					}

					}
				}
			}
		}
	}
