// Why AUV
.index-earth {
	padding: 50px;
	background-image: url(../assets/images/index/1.png);
	.container{ 
		.title {
			text-align: center;
			padding-bottom: 100px;
			p{
				color :#d7970c;
				font-size: 6rem;
				font-family: MinionPro-Bold;
				font-weight: bold;
			}
		}
	.row{
		position: relative;
		display: flex;
		flex-wrap: wrap;
		flex-direction: row;
		.item-left{
			padding-left: 20px;
			text-align: left;
			flex: 0 0 50%;
			max-width: 50%;		
			height: 100%;
			.block {
				position: relative;
				height: 230px;
				padding-bottom: 70px;
				.related-text {
					@media (min-width: 759.98px){
						&::after {
							content: "";
							position: absolute;
							width: 160px;
							height: 1px;
							top: 29%;
							left: 5%;
							background-color:#d7970c;
						}
					}
				}
				h2 {
					color:#d7970c;
					font-size: 6rem;
					font-family: MinionPro-Bold;
				}
				.text {
						p { max-width: 270px;
							color: white;
							font-size: 21px;
						}
					}
			}
		}
		.imp {
			position: absolute;
			left: 50%;
			top : 50%; 
			transform: translate(-50% , -50%);
			width: 100%;
			height: 100%;
			max-width: 550px;
			max-height: 550px;
			img {
				object-fit: cover;
				width: 100%;
				height: 100%;
			}
		}
		.item-right {
			flex: 0 0 50%;
			max-width: 50%;		
			align-self: flex-end;
			text-align: right;
			.block {
				position: relative;
				max-width: 300px;
				height: 230px;
				padding-bottom: 10px;
				margin-left: auto;
				@media (min-width: 759.98px){
					&::after {
						content: "";
						position: absolute;
						width: 160px;
						height: 1px;
						top: 29%;
						left: 35%;
						background-color:#d7970c;
					}
				}
				h2{
					color :#d7970c;
					font-size: 6rem;
					font-family: MinionPro-Bold;
				}
				.text {
					p { 
						color: white;
						font-size: 21px;
						max-width: 300px;
					overflow: hidden;
					text-overflow: ellipsis;
					-webkit-line-clamp: 2;
					display: -webkit-box;
					-webkit-box-orient: vertical;
					}
					p1 {
						color: white;
						font-size: 21px;
						max-width: 300px;
						overflow: hidden;
						text-overflow: ellipsis;
						-webkit-line-clamp: 5;
						display: -webkit-box;
						-webkit-box-orient: vertical;
						
					}
				}
			}
		}
	}
	@media (max-width: 759.98px) {
		.row {
			.item-left{
				text-align: center;
				.block {
					.related-text {
						&::after {
							content: '';
						}
					}
				}
			}
			.item-right{
				text-align: center;
			}
		}
	}
}
}

