//Galley
.auv-galley {
	padding-bottom: 50px;
	.title-galley {
		padding: 85px;
		p {
			text-align: center;
			font-size: 6rem;
			font-weight: bold;
			color: #d7970c;
			font-family: MinionPro-Bold;
		}
	}
	.main-galley {
		display: flex;
		.item-galley{
			position: relative;
			.galley-desc {
				z-index: 100;
				position: absolute;
				top:50%;
				left: 50%;
				transform: translateX(-50%);
				width: 80%;
				text-align: center;
				color: #fff;
				visibility: hidden;
				opacity: 0;
				pointer-events: none;
				p {
					font-size: 16px;
					font-weight: bold;
					font-family: Montserrat-Bold;
				}
			}
		}
		.is-img {
			padding: 0;
			.galley-img {
				overflow: hidden;
				img {
					transition: transform .5s ease;
					max-height: 350px;
				}
			}
		}
		.is-video{
			padding: 0;
			.galley-video {
				overflow: hidden;
				img {
					transition: transform .5s ease;
					max-height: 350px;
				}
			}
		}
	
	@media (min-width: 1025px) {
		.item-galley {
			&:hover {
				img {
					transform: scale(1.1);
					transition: transform .5s ease;
				}
				&.is-img {
					cursor: pointer;
					&::before {
						position: absolute;
						pointer-events: none;
						content: '';
						top: 0;
						left: 0;
						width: 100%;
						height: 100%;
						z-index: 10;
						background: url(../assets/images/index/hover-ga.png) no-repeat;
						background-size: cover;
					}
					.galley-desc {
						visibility: visible;
						opacity: 1;
					}
				}
				&.is-video {
					cursor: pointer;
					&::before{
						position: absolute;
						content: '';
						top: 0;
						left: 0;
						width: 100%;
						height: 100%;
						z-index: 10;
						background: url(../assets/images/index/hover-ga.png) no-repeat;
						background-size: cover;
					}
					img {
						transform: scale(1.1);
					}
					&::after{
						position:absolute;
						content: '';
						top:40%;
						left: 45%;
						width: 65px;
						height: 65px;
						z-index: 10;
						background: url(../assets/images/index/play-video.png) no-repeat;
						background-size: cover;
					}
					.galley-desc {
						visibility: visible;
						opacity: 1;
						padding-top: 40px;
					}
				}
			}
		}
	}
		@media (max-width: 1024px) {
			.item-galley {
				.galley-desc {
					opacity: 1;
				}
			}
		}
		@media (max-width: 720px){
			flex-wrap: wrap;
				.item-galley {
					-ms-flex: 0 0 50%;
					flex: 0 0 50%;
					max-width: 50%;
					margin-bottom: 10px;
					padding: 0 5px;
				}
		}
	}
}


.auv-section{
	.container {
		padding: 20px;
		.title {
			p {
				text-align: center;
				color:#d7970c ;
				font-size: 6rem;
				font-family: MinionPro-Bold;
				font-weight: bold;
			}
		margin-bottom: 40px;
		@media (max-width: 1024.98px) {
			margin-bottom: 20px;
		}
	}
	.auv-main-swiper {
		position: relative;
		.swiper-container {
			margin: 0 44px;
			@media (max-width: 575.98px) {
				margin: 0;
			}
		}
		.swiper-button-next{
		
			border-radius: 0.8;
			bottom: unset;
			right: 0;
			left: unset;
			top: 50%;
			transform: translateY(-50%);
			margin-top: unset;
			background: url(../assets/images/index/arr2.svg) no-repeat;
			&::after {
				content: '';
			}
		}
		.swiper-button-prev{
			border-radius: 0.8;
			bottom: unset;
			right: unset;
			left: 0;
			top: 50%;
			transform: translateY(-50%);
			margin-top: unset;
			background: url(../assets/images/index/arr1.svg) no-repeat;
			&::after {
				content: '';
			}
		}
		.swiper-slide {
			display: flex;
			justify-content: center;
			align-self: center;
			align-items: center;
		}
	}
	}
margin-bottom: 80px;

}
//auvmap
.auvmap-section {
	#map {
		height: 500px;
	}
	
}
