.main__banner
	.swiper-container
		.swiper-wrapper
			.swiper-slide
				a(href="").main__banner--link
					.main__banner--img
						img.object-cover.fullsize(src="./assets/images/index/banner.png", alt="")
		.swiper-pagination
