.about-desc {
	padding-top: 140px;
	padding-bottom: 110px;
	@media (max-width: 1024.98px) {
		padding: 40px 0;
	}
	.about-desc__wrapper {
		position: relative;
		&::before {
			content: "";
			pointer-events: none;
			position: absolute;
			right: 20px;
			bottom: -80px;
			width: 700px;
			height: 320px;
			background: url(../assets/images/about/map.png) no-repeat;
			background-size: 100% 100%;
			z-index: -1;
			@media (max-width: 1024.98px) {
				bottom: 0;
			}
		}
		.title {
			max-width: 812px;
			margin-left: auto;
			margin-right: auto;
			margin-bottom: 50px;
			@media (max-width: 1024.98px) {
				margin-bottom: 20px;
			}
			h2 {
				font-family: MinionPro-Bold;
				font-size: 5rem;
				position: relative;
				overflow: hidden;
				color: map-get($color, main-4);
				&::after {
					content: "";
					position: absolute;
					left: 140px;
					top: 50%;
					transform: translateY(-50%);
					background: map-get($color, main-4);
					width: 100%;
					height: 1px;
				}
			}
		}
		.desc {
			max-width: 950px;
			z-index: 1;
			p {
				color: map-get($color, main-5);
			}
			p:not(:last-child) {
				margin-bottom: 25px;
				@media (max-width: 1024.98px) {
					margin-bottom: 10px;
				}
			}
		}
	}
}

.about-mission {
	padding-top: 115px;
	padding-bottom: 145px;
	background-size: cover;
	background-attachment: fixed;
	background-repeat: no-repeat;
	position: relative;
	background-position: center;
	@media (max-width: 1024.98px) {
		padding: 40px 0;
	}
	&::before {
		z-index: 0;
		content: "";
		position: absolute;
		width: 100%;
		height: 100%;
		background: #314058;
		opacity: .8;
		top: 0;
		left: 0;
		pointer-events: none;
	}
	.title {
		margin-bottom: 80px;
		text-align: center;
		h3 {
			font-size: 5rem;
			font-family: MinionPro-Bold;
			color: map-get($color, x-white);
		}
	}
	.about-content {
		display: flex;
		justify-content: space-between;
		align-items: flex-end;
		margin-left: -10px;
		margin-right: -10px;
		@media (max-width: 1439.98px) {
			align-items: flex-start;
			justify-content: center;
			flex-wrap: wrap;
		}
		.item {
			padding: 0 10px;
			padding-bottom: 10px;
			position: relative;
			height: 100%;
			@media (max-width: 1439.98px) {
				padding-bottom: 0;;
			}
			@media (max-width: 1024.98px) {
				-ms-flex: 0 0 50%;
				flex: 0 0 50%;
				max-width: 50%;
			}
			@media (max-width: 575.98px) {
				-ms-flex: 0 0 100%;
				flex: 0 0 100%;
				max-width: 100%;
				&:not(:last-child) {
					margin-bottom: 10px;
				}
			}
			.overlapping-dot {
				position: absolute;
				content: "";
				background-size: cover;
				background-attachment: fixed;
				background-repeat: no-repeat;
				width: 28px;
				height: 28px;
				border-radius: 50%;
				box-shadow: 0 3px 6px rgba($color: #000000, $alpha: .16);
				left: 50%;
				transform: translateX(-50%);
				top: 25px;
				overflow: hidden;
				background-position: center;
				&::before {
					content: "";
					position: absolute;
					width: 100%;
					height: 100%;
					top: 0;
					left: 0;
					background: #314058;
					opacity: .8;
				}
			}
			.item__wrapper {
				max-width: 400px;
				padding: 100px 30px 70px 30px;
				background-color:map-get($color, x-white);
				box-shadow: 0 3px 6px rgba($color: #000000, $alpha: .16);
				p {
					position: relative;
					&::after {
						position: absolute;
						content: "";
						width: 20px;
						height: 2px;
						top: -10px;
						left: 0;
						background: map-get($color, main-4);
					}
				}
				@media (max-width: 1024.98px) {
					margin: 0 auto;
				}
				@media (max-width: 575.98px) {
					max-width: 100%;
				}
			}
			&:nth-child(2) {
				
				.item__wrapper {
					background: map-get($color, main-4);
					p {
						color: map-get($color, x-white);
						&::after {
							background: map-get($color, x-white);
						}
					}
				}
				@media (max-width: 1439.98px) {
					order: -1;
					-ms-flex: 0 0 100%;
					flex: 0 0 100%;
					max-width: 820px;
					.item__wrapper {
						margin: 0 auto;
						max-width: 100%;
						margin-bottom: 10px;
					}
				}
				@media (max-width: 1024.98px) {
					-ms-flex: 0 0 100%;
					flex: 0 0 100%;
					max-width: 100%;
				}
			}
		}
	}
}

.about-values {
	padding-top: 85px;
	padding-bottom: 100px;
	.title {
		text-align: center;
		margin-bottom: 70px;
		h2 {
			font-family: MinionPro-Bold;
			font-size: 5rem;
			color: map-get($color, main-3);
		}
	}
	.about-values__wrapper {
		margin-bottom: 100px;
	}
	.tab-container__wrapper {
		display: flex;
		flex-wrap: wrap;
		align-items: center;
		.content-active {
			-ms-flex: 0 0 675px;
			flex: 0 0 675px;
			max-width: 675px;
				.desc {
					background: map-get($color, main-3);
					padding: 25px 30px;
					box-shadow: 0 3px 6px rgba($color: #000000, $alpha: .16);
					p {
						color: map-get($color, x-white);
					}
				}
		}
		.content-item {
			-ms-flex-preferred-size: 0;
			flex-basis: 0;
			-ms-flex-positive: 1;
			flex-grow: 1;
			max-width: 100%;
			padding-left: 65px;
			ul {
				max-width: 520px;
				list-style: none;
				padding: 0;
				li {
					padding-left: 30px;
					padding-bottom: 13px;
					position: relative;
					margin-bottom: 15px;
					&::before {
						content: "";
						position: absolute;
						bottom: 0;
						left: 0;
						background: url(../assets/images/about/line.png) no-repeat;
						width: 100%;
						height: 13px;
					}
					&::after {
						content: "";
						position: absolute;
						width: 12px;
						height: 12px;
						border-radius: 50%;
						bottom: 0;
						left: 0;
						background: transparent;
					}
					&.active {
						&::after {
							background: map-get($color, main-4);
							animation: pulse 1.5s infinite;
						}
					}
				}
			}
		}
	}
	.about-history__wrapper {
		.chart {
			position: relative;
		}
		.chart__wrapper {
			position: relative;
			&::before {
				content: "";
				position: absolute;
				top: 50%;
				left: 50%;
				transform: translate(-50% , -50%);
				width: 1px;
				height: 510px;
				background: map-get($color, main-3);
			}
			.item{
				position: relative;
				margin-bottom: 70px;
				.title-item {
					position: absolute;
					bottom: 100%;
					h3 {
						font-size: 4rem;
						font-family: MinionPro-Bold;
					}
				}
				&:first-child {
					margin-bottom: 20px;
				}

				&:nth-child(odd) {
					max-width: 50%;
					margin-left: auto;
					text-align: left;
					padding-left: 60px;
					.title-item {
						left: 60px;
						h3 {
							color: map-get($color, main-3);
						}
					}
					&::after {
						content: "";
						position: absolute;
						width: 70px;
						height: 31px;
						top: 50%;
						left: -15px;
						background: url(../assets/images/about/map-icon-right.png) no-repeat;
						transform: translateY(-50%);
						
					}
				}
				
				&:nth-child(even) {
					max-width: 50%;
					margin-right: auto;
					text-align: right;
					padding-right: 60px;
					.title-item {
						right: 60px;
						h3 {
							color: map-get($color, main-4);
						}
					}
					&::after {
						content: "";
						position: absolute;
						width: 70px;
						height: 31px;
						top: 50%;
						right: -15px;
						background: url(../assets/images/about/map-icon-left.png) no-repeat;
						transform: translateY(-50%);
						
					}
				}
			}
		}
	}
}

.about-academic {
	background: #F1F1F1;
	padding-top: 145px;
	padding-bottom: 155px;
	.title {
		h2 {
			font-family: MinionPro-Bold;
			font-size: 5rem;
			color: map-get($color, main-4);
		}
	}
	.desc {
		max-width: 310px;
		width: 100%;
		margin-bottom: 45px;
	}
	.tab-item {
		display: flex;
		flex-wrap: wrap;
		justify-content: space-between;
		.item {
			.item__wrapper {
				padding-top: 30px;
				padding-bottom: 20px;
				text-align: center;
			}
			&:first-child {
				-ms-flex: 0 0 100%;
				flex: 0 0 100%;
				max-width: 100%;
				margin-bottom: 40px;
				.item__wrapper {
					max-width: 310px;
					width: 100%;
					background: map-get($color, x-white);
					box-shadow: 0 3px 6px rgba($color: #000000, $alpha: .16);
				
					display: flex;
					flex-direction: column;
					align-items: center;
					.item-img {
						margin-bottom: 25px;
					}
					.item-desc {
						p {
							color: map-get($color, main-3);
							font-family: Montserrat-Bold;
						}
					}
				}
			}
			&:not(:first-child) {
				max-width: 310px;
				width: 100%;
				background: map-get($color, x-white);
				box-shadow: 0 3px 6px rgba($color: #000000, $alpha: .16);
				.item__wrapper {
					display: flex;
					flex-direction: column;
					align-items: center;
					.item-img {
						margin-bottom: 25px;
					}
					.item-desc {
						p {
							color: map-get($color, main-3);
							font-family: Montserrat-Bold;
						}
					}
				}
			}	
		}
	}
	.about-academic__wrapper {
		position: relative;
	}
	.conten-active {
		position: absolute;
		max-width: 860px;
		width: 100%;
		max-height: 355px;
		height: 100%;
		top: 0;
		right: 0;
		.content {
			.item {
				display: flex;
				.item-img {
					-ms-flex: 0 0 70%;
					flex: 0 0 70%;
					max-width: 70%;
				}
				.item-desc {
					-ms-flex: 0 0 30%;
					flex: 0 0 30%;
					max-width: 30%;
					background: map-get($color, main-3);
					padding: 55px 20px 0 20px;
					p {
						color: map-get($color, x-white);
						position: relative;
						&::after {
							content: "";
							position: absolute;
							top: -10px;
							left: 0;
							height: 3px;
							width: 18px;
							background: map-get($color, main-4);
							border-radius: 2px;
						}
					}
				}
			}
		}
	}
}

.about-advisory {
	padding-top: 130px;
	padding-bottom: 200px;
	.title {
		text-align: center;
		margin-bottom: 110px;
		h2 {
			font-family: Minion-Bold;
			font-size: 5rem;
		}
	}
	.about-advisory__wrapper,
	.swiper__wrapper {
		position: relative;
	}
	.swiper-container {
		margin: 0 10%;
	}
	.swiper-slide {
		text-align: center;
		.img {
			margin-bottom: 40px;
			img {
				transform: scale(.7);
				transition: .5s all ease-in-out;
			}
		}
		.desc {
			max-width: 275px;
			margin: 0 auto;
			h5 {
				font-size: 3rem;
				font-family: MinionPro-Bold;
			}
			p {
				font-size: 2rem;
				&:last-child {
					font-size: 1.6rem;
					font-family: Futura-LightIt;
				}
			}
		}
	}
	.swiper-slide-active {
		.img {
			img {
				transform: scale(1);
				transition: .5s all ease-in-out;
			}
		}
	}
	.swiper-button-next,
	.swiper-button-prev {
		top: 40%;
	}
}

.about-faculty {
	background: map-get($color, main-3);
	padding-top: 40px;
	padding-bottom: 135px;
	.title {
		text-align: center;
		margin-bottom: 30px;
		h2 {
			font-family: MinionPro-Bold;
			color: map-get($color, main-4);
			font-size: 5rem;
		}
	}
	.about-faculty-slide {
		position: relative;
	}
	.swiper-container {
		margin: 0 10%;
	}
	.wrapper {
		display: flex;
		flex-wrap: wrap;
		.desc {
			-ms-flex: 0 0 50%;
			flex: 0 0 50%;
			max-width: 50%;
			background: map-get($color, x-white);
			.name {
				padding-bottom: 10px;
				margin-bottom: 10px;
				position: relative;
				&::after {
					content: "";
					position: absolute;
					bottom: 0;
					left: 0;
					width: 55px;
					height: 2px;
					background: map-get($color, main-4);
				}
				h5 {
					font-size: 3rem;
					font-family: MinionPro-Bold;
					color: map-get($color, main-3);
				}
				
			}
			.about-item {
				display: none;
			}
			.job-position {
				margin-bottom: 15px;
				p {
					font-size: 2rem;
				}
			}
			.place {
				margin-bottom: 40px;
				p {
					font-size: 1.8rem;
					font-family: Furuta-LightIt;
				}
			}
			.btn-remore {
				margin: unset;
			}
			.desc__wrapper {
				display: flex;
				height: 100%;
				flex-direction: column;
				justify-content: center;
				padding-left: 45px;
				padding-right: 50px;
			}
		}
		.img {
			-ms-flex: 0 0 50%;
			flex: 0 0 50%;
			max-width: 50%;
		}
	}
}

.about-campus {
	padding-top: 60px;
	.title {
		text-align: center;
		margin-bottom: 60px;
		h2 {
			font-family: MinionPro-Bold;
			color: map-get($color, main-4);
			font-size: 5rem;
		}
	}
	.swiper-slide {
		.img {
			position: relative;
			&::before {
				content: "";
				position: absolute;
				top: 0;
				left: 0;
				width: 100%;
				height: 100%;
				background: map-get($color, main-5);
				mix-blend-mode: multiply;
				transition: .5s all ease-in-out;
			}
		}
	}
	.swiper-slide-active {
		.img {
			&::before {
				background: transparent;
				transition: .5s all ease-in-out;
			}
		}
	}
}
#popup-faculty {
	max-width: 1088px;
	background: map-get($color, x-white);
	padding: 90px 135px 120px 135px;
	.name {
		padding-bottom: 10px;
		margin-bottom: 10px;
		position: relative;
		&::after {
			content: "";
			position: absolute;
			bottom: 0;
			left: 0;
			width: 55px;
			height: 2px;
			background: map-get($color, main-4);
		}
		h5 {
			font-size: 3rem;
			font-family: MinionPro-Bold;
			color: map-get($color, main-3);
		}
		
	}
	.about-item {
		p {
			&:not(:last-child) {
				margin-bottom: 20px;
			}
		}
	}
	.job-position {
		margin-bottom: 15px;
		p {
			font-size: 2rem;
		}
	}
	.place {
		display: none;
	}
	.btn-remore {
		display: none;
	}
	.desc__wrapper {
		display: flex;
		height: 100%;
		flex-direction: column;
		justify-content: center;
		padding-left: 45px;
		padding-right: 50px;
	}
}