// Why AUV
.index-earth {
	padding: 50px;
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
	.container{ 
		.about-content {
			max-width: 1225px;
			margin-left: auto;
			margin-right: auto;
		}
		.title {
			text-align: center;
			margin-bottom: 100px;
			p{
				color :#d7970c;
				font-size: 6rem;
				font-family: MinionPro-Bold;
				font-weight: bold;
			}
		}
	.list-items{
		position: relative;
		display: flex;
		flex-wrap: wrap;
		flex-direction: row;
		@media (max-width: 525px) {
			display: block;
		}
		.item-left{
			text-align: left;
			flex: 0 0 50%;
			max-width: 50%;		
			height: 100%;

			.block {
				position: relative;
				height: 230px;
				.related-text {
					@media (min-width: 759.98px){
						&::after {
							content: "";
							position: absolute;
							width: 160px;
							height: 1px;
							top: 29%;
							left: 5%;
							background-color:#d7970c;
						}
					}
				}
				h2 {
					color:#d7970c;
					font-size: 6rem;
					font-family: MinionPro-Bold;
				}
				.text {
					max-width: 250px;
						p { 
							color: white;
							font-size: 21px;
						}
					}
			}
			@media (max-width: 525px) {
				max-width: 100%;
				text-align: center;
				.block {
					margin-bottom: 10px;
					height: auto !important;
				}
				.text {
					max-width: 100% !important;
				}
			}
		}
		.imp {
			position: absolute;
			left: 50%;
			top : 50%; 
			transform: translate(-50% , -50%);
			img {
				object-fit: cover;
			}
		}
		.item-right {
			flex: 0 0 50%;
			max-width: 50%;		
			align-self: flex-end;
			text-align: right;
			.block {
				position: relative;
				max-width: 290px;
				height: 230px;
				padding-bottom: 10px;
				margin-left: auto;
				@media (min-width: 759.98px){
					&::after {
						content: "";
						position: absolute;
						width: 160px;
						height: 1px;
						top: 29%;
						left: 35%;
						background-color:#d7970c;
					}
				}
				h2{
					color :#d7970c;
					font-size: 6rem;
					font-family: MinionPro-Bold;
				}
				&:first-child {
					.text {
						p {
							color: white;
							font-size: 21px;
						}
					}
				}
				.text {
					max-width: 290px;
					p { 
						color: white;
						font-size: 21px;
					}
				}
			}
			@media (max-width: 525px) {
				text-align: center;
				max-width: 100%;
				.block {
					max-width: 100% !important;
					height: auto !important;
					.text {
						max-width: 100% !important;
					}
				}
			}
		}
	}
	@media (max-width: 768px) {
		.title {
			margin-bottom: 20px;
		}
		.row {
			.item-left{
				text-align: center;
				.block {
					.related-text {
						&::after {
							content: '';
						}
					}
				}
			}
			.item-right{
				text-align: center;
			}
		}
	}
}
}
@media (max-width: 767.98px) {
	.index-earth {
		padding:50px 0;
	}
}
