section.calendar-auv
	.container
		.container-custom.size-1365px
			.tab-container
				.main-title 
					p Calendar
				.title-desc 
					p The American University in Vietnam offers its courses in four terms over an academic year: Early Fall, Mid-Autumn, Winter, and Spring. Each term is 7.5 weeks covering 15 contact hours for each unit of credit. Courses normally carry 3-credit units and include 45 contact hours of classroom instruction per term.
					p One unit of credit earned at AUV is equivalent to one credit earned in a semester system in the U.S. In a “semester” system each credit unit contains 1-hour instruction per week for 15 weeks. At AUV the same content is covered in 2-hour instruction per week for 7.5 weeks. In both cases the total contact hours are the same (15 x 1 = 7.5 x 2). So one term-credit at AUV is the same as one semester-credit at a U.S. university. However, in a semester system, a full-time student’s course load is twelve credits “per semester” whereas at AUV is six credits “per term.” So AUV students achieve in two terms the same number of credits as the students in U.S. achieve in one semester. There is no substantial difference; AUV terms are more intensive whereas semesters are more spread out.
					p The four terms and their dates are given in the calendar below.
				.content-calendar
					.block-main-title.col-3
						p.title( toggle-for='item-1') SUMMER TERM 2020
						p.title( toggle-for='item-2') Early Fall Term 2020
						p.title( toggle-for='item-3') Mid-Autumn Term 2020
						p.title( toggle-for='item-4') Winter Term 2021
						p.title( toggle-for='item-5') Spring Term 2021
					.list-tab-content.col-9
							.tab-content
								.content(tab-id="item-1")
									p.title-lab SUMMER TERM 2020
									.time-job
										p Jun 22 - Aug 14
									.active-auv
										-for(var i = 0; i< 8; i++)
											.auv-time-job
												.time.col-4
													p Jan 4
												.job.col-8
													p Classes Begin
							.tab-content
								.content(tab-id="item-2")
									p.title-lab Early Fall Term 2020
									.time-job
										p Jun 22 - Aug 14
									.active-auv
										-for(var i = 0; i< 8; i++)
											.auv-time-job
												.time.col-4 
													p Jan 4
												.job.col-8
													p Classes Begin
							.tab-content
								.content(tab-id="item-3")
									p.title-lab Mid-Autumn Term 2020
									.time-job
										p Jun 22 - Aug 14
									.active-auv
										-for(var i = 0; i< 8; i++)
											.auv-time-job
												.time.col-4 
													p Jan 4
												.job.col-8
													p Classes Begin
							.tab-content
								.content(tab-id="item-4")
									p.title-lab Winter Term 2021
									.time-job
										p Jun 22 - Aug 14
									.active-auv
										-for(var i = 0; i< 8; i++)
											.auv-time-job
												.time.col-4 
													p Jan 4
												.job.col-8
													p Classes Begin
							.tab-content
								.content(tab-id="item-5")
									p.title-lab Spring Term 2021
									.time-job
										p Jun 22 - Aug 14
									.active-auv
										-for(var i = 0; i< 8; i++)
											.auv-time-job
												.time.col-4 
													p Jan 4
												.job.col-8
													p Classes Begin
