section.curricula-outcomes
	.container
		.container-custom.size-1365px
			.title-curr
				p Curricula & Outcomes
			.block-main-curr.row
				.content-curr.col-6
					.content-curr__wrapper
						.curr-title 
							p Structure of Undergraduate Programs at AUV
						.curr-desc 
							p Our programs are centered on the philosophy of liberal education, providing our students career paths grounded in a rigorous General Studies curriculum. Our sequence of General Studies courses will develop the analytical, logical, mathematical, and communication skills of students while cultivating 21st Century social, cultural and global perspectives.
							p Building upon the General Studies foundation, our Majors will prepare students for careers that capitalize on specialized knowledge, mature decision making, and a spirit of innovation. Graduates will lead their personal, professional, and social lives with the knowledge, skills and values required to produce lifelong achievements.
							p The curricula of AUV undergraduate programs are designed around three clusters of learning experiences:
							ul 
								li 1. University Preparatory: 1-24 Non-Credit courses in Intensive English language and university study skills
								li 2. General Studies: 56 credits of coursework in critical skills and diverse areas of knowledge
								li 3. Major: 24-50 credits of coursework in a major or minor area of specialization designed to provide foundations for productive careers
							p A student taking credit courses at AUV must go through all three learning experiences.
						button.btn-more
								span More 
								img.object-cover.svg(src="./assets/images/index/arrow.svg", alt="")
				.content-curr.col-6
					.content-curr__wrapper
						.curr-title 
							p Undergraduate program learning outcomes
						.curr-desc 
							p As a result of progressing through the AUV curriculum, graduates of AUV will:
							ul 
								li 1.Demonstrate the ability to speak, read, and write English intelligently and clearly.
								li 2. Apply knowledge from various fields to produce structured arguments in support of their ideas.
								li 3. Think critically and communicate their work effectively in social and professional settings.
						button.btn-more
								span More 
								img.object-cover.svg(src="./assets/images/index/arrow.svg", alt="")
