section.academic-studies-program(data-section="General Studies Program")
	.container
		.container-custom.size-1365px
			.academic-studies-program__wrapper.title-common
				.img
					img.object-cover.fullsize.lazyload.blur-up(data-src="./assets/images/academics/studies.png", alt="")
				.desc
					.title
						h2 General Studies Program
					.sub-title
						p At AUV, all students will complete a strong general studies curriculum consisting of 53 credits (16 courses). These courses will provide a foundation for further learning in their chosen academic fields.  All courses are three (3) semester-credits except for natural science courses. These are four (4) semester-credits and include a one (1) credit lab. 
					ul
						li(data-fancybox data-src="#basicskill" href="javascript:;")
							.text
								p BASIC SKILLS (24 credits)
							.btn-remore
								button.btn
									span MORE 
									img.object-cover.svg(src="./assets/images/index/arrow1.svg", alt="")
							.d-none
								#basicskill.popup.popup-academic
									.popup__wrapper
										.title
											p BASIC SKILLS (24 credits)
										.sub-title
											p During the first two year of study a student must demonstrate proficiency in basic skills of communication, quantitative information processing and critical thinking. The following courses are designed to develop the student’s basic skills. The skills are reinforced in all AUV courses.
										.desc-popup
											h4 HUMANITIES (27 credits)
											h5 Communication Skills (9 credits)
											ul
												li 
													p ENGL 106: Oral Communication *
												li 
													p ENGL 107: Composition I: Introduction to Academic Prose
												li 
													p ENGL 108: Composition II: The Craft of Argument
												li 
													p COMM 225 Public Speaking *
											h5 Critical Thinking (6 credits)
											ul
												li 
													p PHIL 101: Introduction to Philosophy
												li 
													p PHIL 103: Principles of Sound Reasoning
											h5 Historical, Creative Perspectives (6 credits)
											ul
												li 
													p HIST 101: World History Since 1500 *
												li 
													p ART 100: Introduction to Art *
											h4 HUMANITIES (27 credits)
											h5 Communication Skills (9 credits)
											ul
												li 
													p ENGL 106: Oral Communication *
												li 
													p ENGL 107: Composition I: Introduction to Academic Prose
												li 
													p ENGL 108: Composition II: The Craft of Argument
												li 
													p COMM 225 Public Speaking *
											h5 Critical Thinking (6 credits)
											ul
												li 
													p PHIL 101: Introduction to Philosophy
												li 
													p PHIL 103: Principles of Sound Reasoning
											h5 Historical, Creative Perspectives (6 credits)
											ul
												li 
													p HIST 101: World History Since 1500 *
												li 
													p ART 100: Introduction to Art *
											h4 HUMANITIES (27 credits)
											h5 Communication Skills (9 credits)
											ul
												li 
													p ENGL 106: Oral Communication *
												li 
													p ENGL 107: Composition I: Introduction to Academic Prose
												li 
													p ENGL 108: Composition II: The Craft of Argument
												li 
													p COMM 225 Public Speaking *
											h5 Critical Thinking (6 credits)
											ul
												li 
													p PHIL 101: Introduction to Philosophy
												li 
													p PHIL 103: Principles of Sound Reasoning
											h5 Historical, Creative Perspectives (6 credits)
											ul
												li 
													p HIST 101: World History Since 1500 *
												li 
													p ART 100: Introduction to Art *
											h4 HUMANITIES (27 credits)
											h5 Communication Skills (9 credits)
											ul
												li 
													p ENGL 106: Oral Communication *
												li 
													p ENGL 107: Composition I: Introduction to Academic Prose
												li 
													p ENGL 108: Composition II: The Craft of Argument
												li 
													p COMM 225 Public Speaking *
											h5 Critical Thinking (6 credits)
											ul
												li 
													p PHIL 101: Introduction to Philosophy
												li 
													p PHIL 103: Principles of Sound Reasoning
											h5 Historical, Creative Perspectives (6 credits)
											ul
												li 
													p HIST 101: World History Since 1500 *
												li 
													p ART 100: Introduction to Art *
											h4 HUMANITIES (27 credits)
											h5 Communication Skills (9 credits)
											ul
												li 
													p ENGL 106: Oral Communication *
												li 
													p ENGL 107: Composition I: Introduction to Academic Prose
												li 
													p ENGL 108: Composition II: The Craft of Argument
												li 
													p COMM 225 Public Speaking *
											h5 Critical Thinking (6 credits)
											ul
												li 
													p PHIL 101: Introduction to Philosophy
												li 
													p PHIL 103: Principles of Sound Reasoning
											h5 Historical, Creative Perspectives (6 credits)
											ul
												li 
													p HIST 101: World History Since 1500 *
												li 
													p ART 100: Introduction to Art *
											h4 HUMANITIES (27 credits)
											h5 Communication Skills (9 credits)
											ul
												li 
													p ENGL 106: Oral Communication *
												li 
													p ENGL 107: Composition I: Introduction to Academic Prose
												li 
													p ENGL 108: Composition II: The Craft of Argument
												li 
													p COMM 225 Public Speaking *
											h5 Critical Thinking (6 credits)
											ul
												li 
													p PHIL 101: Introduction to Philosophy
												li 
													p PHIL 103: Principles of Sound Reasoning
											h5 Historical, Creative Perspectives (6 credits)
											ul
												li 
													p HIST 101: World History Since 1500 *
												li 
													p ART 100: Introduction to Art *
											h4 HUMANITIES (27 credits)
											h5 Communication Skills (9 credits)
											ul
												li 
													p ENGL 106: Oral Communication *
												li 
													p ENGL 107: Composition I: Introduction to Academic Prose
												li 
													p ENGL 108: Composition II: The Craft of Argument
												li 
													p COMM 225 Public Speaking *
											h5 Critical Thinking (6 credits)
											ul
												li 
													p PHIL 101: Introduction to Philosophy
												li 
													p PHIL 103: Principles of Sound Reasoning
											h5 Historical, Creative Perspectives (6 credits)
											ul
												li 
													p HIST 101: World History Since 1500 *
												li 
													p ART 100: Introduction to Art *
						li(data-fancybox data-src="#knowledge" href="javascript:;")
							.text
								p KNOWLEDGE BREADTH AND PERSPECTIVES (32 credits)
							.btn-remore
								button.btn
									span MORE 
									img.object-cover.svg(src="./assets/images/index/arrow1.svg", alt="")
							.d-none
								#knowledge.popup.popup-academic
									.popup__wrapper
										.title
											p BASIC SKILLS (24 credits)
										.sub-title
											p During the first two year of study a student must demonstrate proficiency in basic skills of communication, quantitative information processing and critical thinking. The following courses are designed to develop the student’s basic skills. The skills are reinforced in all AUV courses.
										.desc-popup
											h4 HUMANITIES (27 credits)
											h5 Communication Skills (9 credits)
											ul
												li 
													p ENGL 106: Oral Communication *
												li 
													p ENGL 107: Composition I: Introduction to Academic Prose
												li 
													p ENGL 108: Composition II: The Craft of Argument
												li 
													p COMM 225 Public Speaking *
											h5 Critical Thinking (6 credits)
											ul
												li 
													p PHIL 101: Introduction to Philosophy
												li 
													p PHIL 103: Principles of Sound Reasoning
											h5 Historical, Creative Perspectives (6 credits)
											ul
												li 
													p HIST 101: World History Since 1500 *
												li 
													p ART 100: Introduction to Art *
											h4 HUMANITIES (27 credits)
											h5 Communication Skills (9 credits)
											ul
												li 
													p ENGL 106: Oral Communication *
												li 
													p ENGL 107: Composition I: Introduction to Academic Prose
												li 
													p ENGL 108: Composition II: The Craft of Argument
												li 
													p COMM 225 Public Speaking *
											h5 Critical Thinking (6 credits)
											ul
												li 
													p PHIL 101: Introduction to Philosophy
												li 
													p PHIL 103: Principles of Sound Reasoning
											h5 Historical, Creative Perspectives (6 credits)
											ul
												li 
													p HIST 101: World History Since 1500 *
												li 
													p ART 100: Introduction to Art *
											h4 HUMANITIES (27 credits)
											h5 Communication Skills (9 credits)
											ul
												li 
													p ENGL 106: Oral Communication *
												li 
													p ENGL 107: Composition I: Introduction to Academic Prose
												li 
													p ENGL 108: Composition II: The Craft of Argument
												li 
													p COMM 225 Public Speaking *
											h5 Critical Thinking (6 credits)
											ul
												li 
													p PHIL 101: Introduction to Philosophy
												li 
													p PHIL 103: Principles of Sound Reasoning
											h5 Historical, Creative Perspectives (6 credits)
											ul
												li 
													p HIST 101: World History Since 1500 *
												li 
													p ART 100: Introduction to Art *
											h4 HUMANITIES (27 credits)
											h5 Communication Skills (9 credits)
											ul
												li 
													p ENGL 106: Oral Communication *
												li 
													p ENGL 107: Composition I: Introduction to Academic Prose
												li 
													p ENGL 108: Composition II: The Craft of Argument
												li 
													p COMM 225 Public Speaking *
											h5 Critical Thinking (6 credits)
											ul
												li 
													p PHIL 101: Introduction to Philosophy
												li 
													p PHIL 103: Principles of Sound Reasoning
											h5 Historical, Creative Perspectives (6 credits)
											ul
												li 
													p HIST 101: World History Since 1500 *
												li 
													p ART 100: Introduction to Art *
											h4 HUMANITIES (27 credits)
											h5 Communication Skills (9 credits)
											ul
												li 
													p ENGL 106: Oral Communication *
												li 
													p ENGL 107: Composition I: Introduction to Academic Prose
												li 
													p ENGL 108: Composition II: The Craft of Argument
												li 
													p COMM 225 Public Speaking *
											h5 Critical Thinking (6 credits)
											ul
												li 
													p PHIL 101: Introduction to Philosophy
												li 
													p PHIL 103: Principles of Sound Reasoning
											h5 Historical, Creative Perspectives (6 credits)
											ul
												li 
													p HIST 101: World History Since 1500 *
												li 
													p ART 100: Introduction to Art *
											h4 HUMANITIES (27 credits)
											h5 Communication Skills (9 credits)
											ul
												li 
													p ENGL 106: Oral Communication *
												li 
													p ENGL 107: Composition I: Introduction to Academic Prose
												li 
													p ENGL 108: Composition II: The Craft of Argument
												li 
													p COMM 225 Public Speaking *
											h5 Critical Thinking (6 credits)
											ul
												li 
													p PHIL 101: Introduction to Philosophy
												li 
													p PHIL 103: Principles of Sound Reasoning
											h5 Historical, Creative Perspectives (6 credits)
											ul
												li 
													p HIST 101: World History Since 1500 *
												li 
													p ART 100: Introduction to Art *
											h4 HUMANITIES (27 credits)
											h5 Communication Skills (9 credits)
											ul
												li 
													p ENGL 106: Oral Communication *
												li 
													p ENGL 107: Composition I: Introduction to Academic Prose
												li 
													p ENGL 108: Composition II: The Craft of Argument
												li 
													p COMM 225 Public Speaking *
											h5 Critical Thinking (6 credits)
											ul
												li 
													p PHIL 101: Introduction to Philosophy
												li 
													p PHIL 103: Principles of Sound Reasoning
											h5 Historical, Creative Perspectives (6 credits)
											ul
												li 
													p HIST 101: World History Since 1500 *
												li 
													p ART 100: Introduction to Art *