section.academics-centers
	.container
		.container-custom.size-1365px
			.academics-centers__wrapper.title-common.tab-container
				.title
					h2 Centers
				.content
					.content-tab
						ul
							li(toggle-for="centers-1")
								p Career Development
							li(toggle-for="centers-2")
								p COLLEGE BRIDGE
							li(toggle-for="centers-3")
								p FINANCIAL RESPONSIBILITY
							li(toggle-for="centers-4")
								p PROFESSIONAL DEVELOPMENT
							li(toggle-for="centers-5")
								p STUDENT SUCCESS
							li(toggle-for="centers-6")
								p STUDY ABROAD
							li(toggle-for="centers-7")
								p WRITING STUDIO
							li(toggle-for="centers-8")
								p OTHER
					.content-active-tab
						.tab-content
							-for(var i =1; i < 9; i++)
								.content(tab-id=`centers-${i}`)
									.content-title
										p Career Development
									.content-desc
										p The financial environment has become increasingly complex, with more financial tools to choose from and more companies offering more financial products and advice. There is greater global interoperability among businesses, and this means there is more opportunity for growth and profitability as well as failure and loss.
										p Financial crises have proven that even the purported “experts” can get things wrong. We have seen the problems in only one economic sector of one country result in a worldwide contagion unable to be contained within one border. From employee pensions in the UK, to Sovereign Wealth Funds in Asia, to hedge funds in Brazil, and to global financial speculators no one group managed to escape the impacts of a worldwide economic slowdown.
										p The AUV Center for Financial Responsibility brings together the experience, the knowledge, and the resources to assist our participants and partners in navigating the complexity of financial dealings. Our program is designed to alleviate much of the confusion and uncertainty in financial decision making. Our mission is to establish best practices in financial management through a continual process of raising awareness, facilitating the sharing of experiences, educating, and focused learning as the financial landscape changes and the pace of financial innovation continues to accelerate.
										p Whether taking out a loan, investing in a small business, or buying shares in publicly listed companies overseas, our aim is to help you ask the right financial questions and make the right financial decisions. We help you understand the fine print and Terms & Conditions of contracts.  More importantly, we help you avoid common mistakes, and we motivate you to seek financial opportunities and avoid missing out on wise investments.
										p The first step in taking financially responsibility for your future is becoming financially knowledgeable. The AUV Center for Financial Responsibility helps you get there.