section.academics-policies
	.container
		.container-custom.size-1365px
			.academics-policies__wrapper.title-common
				.title
					h2 Policies
				.content
					.img
						img.object-cover.fullsize.lazyload.blur-up(data-src="./assets/images/academics/policies.png", alt="")
					.desc
						.card
							.card-header(data-card-widget="collapse")
								h5 General Studies Distribution Requirements
							.card-body
								p The following rules apply to all five discipline groups listed in “General Studies Courses.”
								ul
									li 
										p No course may satisfy the requirement of more than one discipline group (see the five discipline groups listed).
									li 
										p Courses taken in a student’s Major Study may NOT be counted toward a General Studies requirement.
									li 
										p None of the required five discipline groups may be satisfied by any means other than successful completion of coursework. None of the following can be used to satisfy any of the five discipline groups in the General Studies requirement: course waivers, Advanced Placement test scores, International Baccalaureate exams, independent study courses, or courses taken as pass/fail.
									li 
										p Courses transferred from accredited universities may be accepted if those courses are equivalent in content as determined by the AUV provost (in consultation with an expert faculty member).
						.card
							.card-header(data-card-widget="collapse")
								h5 Common Quality Features of Each General Studies Course
							.card-body
								p Each course offered in General Studies must contain relevant contents and assignments that provide the students with opportunities to develop the following intellectual and practical skills:
								ul
									li 
										p Reading & Comprehension
									li 
										p Information Literacy
									li 
										p Inquiry and Analysis
									li 
										p Critical & Creative Thinking
									li 
										p Written Communication
									li
										p Oral Communication
									li
										p Individual Engagement & Peer-to-Peer Interaction
								p Each course offered in the Major Study must contain relevant content and assignments that provide students with opportunities to develop the following skills:
								ul
									li
										p Topical Knowledge
									li
										p Quantitative and Qualitative Approaches
									li
										p Research and Presentation
									li
										p Application of Concepts for Problem Solving
									li
										p Both Individual Work and Teamwork
									li
										p Ethical Issues (as relate to the field of study)
									li
										p Global Perspectives
									li
										p Foundations for Lifelong Learning