section.academis-course
	.container
		.container-custom.size-1365px
			.academis-course__wrapper.title-common
				.title
					h2 Course Descriptions
				.content
					.img
						img.object-cover.fullsize.lazyload.blur-up(data-src="./assets/images/academics/course.png", alt="")
					.desc
						.desc__wrapper
							p These courses comprise of a coherent cluster for various levels of student English competency. Based on an initial comprehensive assessment, a student’s English competency level is matched with one of several levels of proficiency.
							p A cluster of modules numbered 070 to 089, teach fundamental tools of English needed to communicate thoughts in daily conversations and to read and write reports, letters, memos, and general essays. Modules will provide guidelines and ample opportunities to students to practice and gain all four essential skills of the English language: reading, viz., writing, listening, and speaking.
							p A cluster of advanced English modules, workshops and labs numbered 090 to 099 develop the student’s English skills to a level needed for completing introductory coursework at a typical American university. A student in this cluster should be prepared to engage in conversations in academic settings and possess the ability to understand textbook material, write topical papers and make presentations. Modules and workshops develop the student’s reading, writing, listening, and speaking in variety of academic contexts with emphasis on writing research papers and preparation for TOEFL.
							.btn-remore
								button.btn
									a(href="course-detail.html")
										span MORE 
										img.object-cover.svg(src="./assets/images/index/arrow1.svg", alt="")
