section.admission-requirements(data-section="Requirements")
	.container
		.container-custom.size-1100px
			.admission-requirements__wrapper.title-common
				.title
					h2 Requirements
				.content
					img.object-cover.fullsize.lazyload.blur-up(data-src="./assets/images/admission/requirement.png", alt="")
					p Welcome to the American University in Vietnam, the first American University in Vietnam. Each applicant to AUV is reviewed with great care as we consider applicants based on their academic and personal abilities to meet our standards.
					p Students will be admitted based on secondary school grade-point averages, an essay in English, recommendations of teachers, previous university work, and an interview in English. The academic success of AUV students will depend upon their English language proficiency. Once students are admitted to AUV, they will be tested in English and math.  Based on the results of the tests, students may be placed in the non-credit courses of the University Preparatory (PREP) Program.
					p AUV provides equal opportunity in education without regard to race, color, creed, religion, national origin, sex, age, marital status, or disability in accordance with institutional policies and applicable national statutes and regulations.
					p To apply to American University in Vietnam, you must submit the online AUV Application for Admission along with supplementary materials to AUV Admission Office. While entrance to the university is selective, applying is open to everybody and easy when you follow these three steps below: 
					.step
						p
							!= "<span>Step 1</span> - Submit Application Form"
						p
							!= "<span>Step 2</span> - Submit Certificates"
						p
							!= "<span>Step 3</span> -Schedule an Interview via telephone, web conferencing, or face-to-face with the Admissions Office at: "
					.info
						p 299 Tran Dai Nghia Street, Danang City, Vietnam 
						p
							!= "Tel: <a>+84 (236) 396 7585.</a>  Fax: <a>(84-236) 3928 662</a> "
						p 
							!= "Email: <a>info@auv.edu.vn </a>" 
						p 
							!= "Web: <a>www.auv.edu.vn</a>"
