section.admission-finance(fp-bg="./assets/images/admission/finance-bg.png")
	.container
		.container-custom.size-1100px
			.admission-finance__wrapper.title-common
				.title
					h2 Finance & Cost
				.content
					.desc
						p American education models the highest standards of schooling and students from all over the world aim to gain an education from an accredited American university. Education anywhere is an investment in the future, but with high-quality follows a high price tag and private universities in the US often exceed 50,000 dollars (1.2 billion dong) per year. Additionally, with barriers in language, difficulty in adjustment, preparation, and distance, many international students in the US take five years to complete their degree as opposed to the traditional four.However, at AUV motivated students can complete their degree at an American-style University in as little as three years. Students of AUV will save time and money studying the same high-quality curriculum close to home. The American University in Vietnam believes in the importance of education and offers all new students who qualify generous scholarships for their first year of study at AUV.
						p Take the first steps to your American education and contact info@auv.edu.vn to take charge of your future at The American University in Vietnam today.
					.img
						img.object-cover.fullsize.lazyload.blur-up(src="./assets/images/admission/finance-1.png", alt="")
