section.admission-scholarships(data-section="Scholarships")
	.container
		.container-custom.size-1088px
			.about-scholarships__wrapper.title-common
				.title
					h2 Scholarships
				.sub-title
					p AUV provides generous scholarships to all inaugural students.
				.content
					.item
						.img
							img.object-cover.lazyload.blup-up(src="./assets/images/admission/flat.png", alt="")
						.percent
							p
								!= "100 <span>%</span>"
						.award
							p(dropline) Founder. Scholarships
					.item
						.img
							img.object-cover.lazyload.blup-up(src="./assets/images/admission/team.png", alt="")
						.percent
							p
								!= "50 <span>%</span>"
						.award
							p(dropline) Presidential. Scholarships
					.item
						.img
							img.object-cover.lazyload.blup-up(src="./assets/images/admission/education.png", alt="")
						.percent
							p
								!= "30 <span>%</span>"
						.award
							p(dropline) Merit. Scholarships