section.admission-auv-difference(fp-bg="./assets/images/admission/bg-diff.png")
	.container
		.container-custom.size-1225px
			.admission-auv-difference__wrapper.title-common
				.title
					h2 The AUV Difference
				.sub-title
					p Three distinguishing elements that set the AUV learning experience apart from other national and regional institutions of higher learning are highlighted here.
				.content
					.item
						.item__wrapper
							.img
								img(src="./assets/images/admission/difference-1.png", alt="")
							.desc
								p First, our programs are designed to produce graduates who will thrive in today’s volatile, uncertain, ambiguous environment.  The foundation of AUV education is a required core curriculum based upon the American concept of a liberal education. That is, an approach to learning that empowers the individuals with strong and transferable intellectual abilities to deal with complexity, diversity, and change. It provides students with broad knowledge of the wider world (e.g., science, history, culture, and society) as well as in-depth study in a specific area of interest.  
								p A liberal education helps students strengthen the capacity to think, contextualize, reason and reflect rationally, critically and creatively.  Key features of liberal education are development of social skills, cross-cultural competence, cognitive flexibility, integrative thinking, and an understanding of history, logic and ethical reasoning. 
					.item
						.item__wrapper
							.img
								img(src="./assets/images/admission/difference-2.png", alt="")
							.desc
								p AUV’s second distinct element is its focus on practical lifelong skills, such as communication in English, analytical decision making and problem-solving skills. All of our courses are taught in English and place heavy emphasis on writing, speaking, presenting and research in English. The evaluation component of every class in the core curriculum includes a significant amount of written work, exercises, project based learning, problem-based projects, and active classroom engagement. Weekly workshops to assist students in excelling at practical skills are included as a structural part of our curricula. Students develop ability to apply knowledge and skills in real-world settings as they take the required courses in natural sciences, math, social sciences, arts and humanities. 
					.item
						.item__wrapper
							.img
								img(src="./assets/images/admission/difference-3.png", alt="")
							.desc
								p Third, the AUV’s academic culture centers on holistic learning of each individual student. Instruction is face to face and is given in small size classrooms. This way, instructors learn first hand the academic background, learning style and strength of each student, and take proactive measures in overcoming learning and behavioral bottlenecks. In addition, our curricula offer opportunities to students to take electives that allow them to explore different subject areas before choosing a major field of study. In the process students learn to develop a genuine interest in learning that remains with them for life.

