section.admission-how-to-apply
	.container
		.container-custom.size-1088px
			.admission-how-to-apply__wrapper.tab-container
				.guide-apply
					.img
						img.object-cover.fullsize.lazyload.blup-up(src="./assets/images/admission/how-to-apply.png", alt="")
					.desc
						h2 How To Apply
						p Welcome to the American University in Vietnam, the first American University in Vietnam.
						p Each applicant to AUV is reviewed with great care as we consider applicants based on their academic and personal abilities to meet our standards.
						p While entrance to the university is selective, applying is open to everybody and easy when you follow these three steps below:
				form(action="").apply-form
					.apply-tab
						.tab(toggle-for="tab-1")
							.tab__wrapper
								p
									!= "<span>STEP1 |</span> Submit Application Form"
						.tab(toggle-for="tab-2")
							.tab__wrapper
								p
									!= "<span>STEP2 |</span> Submit Certificates"
						.tab(toggle-for="tab-3")
							.tab__wrapper
								p
									!= "<span>STEP3 |</span> Schedule an Interview"
					.tab-content
						.content(tab-id="tab-1")
							.row
								.col-12
									.row
										.col-md-6.col-sm-12
											h5 Student Information
											.row
												.col-6
													input(type="text" placeholder="First Name")
												.col-6
													input(type="text" placeholder="Last Name")
												.col-6
													select(name="" id="gender")
														option(value="male") Male
														option(value="male") Male
												.col-6
													input(type="text" placeholder="Home address")
												.col-6
													select(name="" id="gender")
														option(value="male") Male
														option(value="male") Male
												.col-6
													input(type="text" placeholder="Current address(if different")
												.col-6
													input(type="text" placeholder="ID/ Passwort number")
												.col-6
													input(type="text" placeholder="Email")
												.col-6
													input(type="text" placeholder="Cell phone")
										.col-md-6.col-sm-12
											h5 Parent Information
											.row
												.col-6
													input(type="text" placeholder="Full Name*")
												.col-6
													input(type="text" placeholder="Home address")
												.col-6
													select(name="" id="gender")
														option(value="male") Male
														option(value="male") Male
												.col-6
													input(type="text" placeholder="Company name")
												.col-6
													select(name="" id="gender")
														option(value="male") Male
														option(value="male") Male
												.col-6
													input(type="text" placeholder="Occupation")
												.col-6
													input(type="text" placeholder="Nationality")
												.col-6
													input(type="text" placeholder="Email")
												.col-6
													input(type="text" placeholder="Cell phone*")
								.col-12
									.row
										.col-md-6.col-sm-12
											h5 Program Of Study
											.row
												.col-12
													select(name="" id="gender")
														option(value="male") Male
														option(value="male") Male
												.col-12
													.row-check
														p Title of program
														.item
															input(type="checkbox" id="title-of-program-1")
															label(for="title-of-program-1") Business
														.item
															input(type="checkbox" id="title-of-program-2")
															label(for="title-of-program-2") Hospitality
														.item
															input(type="checkbox" id="title-of-program-3")
															label(for="title-of-program-3") Communication
														.item
															input(type="checkbox" id="title-of-program-4")
															label(for="title-of-program-4") Computer Science
														.item
															input(type="checkbox" id="title-of-program-5")
															label(for="title-of-program-5") Undecided
														.item
															input(type="checkbox" id="title-of-program-6")
															label(for="title-of-program-6") Other
										.col-md-6.col-sm-12
											h5 Program Of Study
											.row
												.col-12
													input(type="text" placeholder="Proposed start Year")
												.col-12
													.row-check
														p Semester
														.item
															input(type="radio" name="semester" id="semester-1")
															label(for="semester-1") Business
														.item
															input(type="radio" name="semester" id="semester-2")
															label(for="semester-2") Hospitality
														.item
															input(type="radio" name="semester" id="semester-3")
															label(for="semester-3") Communication
												.col-12
													.row-check
														p Title of program
														.item
															input(type="checkbox" id="Scholarship")
															label(for="Scholarship") I am interested in a Merit - Based Scholarship
						.content(tab-id="tab-2")
							.row
								.col-12
									h5 English Language Proficiency
									.row
										.col-md-4.col-sm-12
											p IELTS
											.row
												.col-6
													input(type="text" placeholder="Location")
												.col-6
													input(type="text" placeholder="Date of test")
												.col-6
													input(type="text" placeholder="Score")
												.col-6
													input(type="text" placeholder="Certificate number")
										.col-md-4.col-sm-12
											p TOEFL
											.row
												.col-6
													input(type="text" placeholder="Location")
												.col-6
													input(type="text" placeholder="Date of test")
												.col-6
													input(type="text" placeholder="Score")
												.col-6
													input(type="text" placeholder="Certificate number")
										.col-md-4.col-sm-12
											p Other
											.row
												.col-6
													input(type="text" placeholder="Location")
												.col-6
													input(type="text" placeholder="Date of test")
												.col-6
													input(type="text" placeholder="Score")
												.col-6
													input(type="text" placeholder="Certificate number")
								.col-12
									h5 Qualifications Already Available
									.row
										.col-md-4.col-sm-12
											p High School
											.row
												.col-12
													input(type="text" placeholder="Name of Institution")
												.col-6
													input(type="text" placeholder="Qualification")
												.col-6
													input(type="text" placeholder="From")
												.col-6
													input(type="text" placeholder="Location")
												.col-6
													input(type="text" placeholder="To")
										.col-md-4.col-sm-12
											p Colleges
											.row
												.col-12
													input(type="text" placeholder="Name of Institution")
												.col-6
													input(type="text" placeholder="Qualification")
												.col-6
													input(type="text" placeholder="From")
												.col-6
													input(type="text" placeholder="Location")
												.col-6
													input(type="text" placeholder="To")
										.col-md-4.col-sm-12
											p University
											.row
												.col-12
													input(type="text" placeholder="Name of Institution")
												.col-6
													input(type="text" placeholder="Qualification")
												.col-6
													input(type="text" placeholder="From")
												.col-6
													input(type="text" placeholder="Location")
												.col-6
													input(type="text" placeholder="To")
								.col-12
									h5 Submit Official High School diploma, transcripts, Official College/ University transcripts (if any)
									.row.file-type
										.col-md-6.col-sm-12
											p High school diploma
											.row
												.col-12
													label(for="diploma" text="Choose File")
													input(type="file" id="diploma")
										.col-md-6.col-sm-12
											p Transcripts
											.row
												.col-12
													label(for="transcripts" text="Choose File")
													input(type="file" id="transcripts")
						.content(tab-id="tab-3")
							.row
								.col-12
									h5 Schedule an interview with our Admissions Office
									.row
										.col-md-5.col-sm-12
											.row
												.col-8
													input.date-picker(type="text" placeholder="Date")
												.col-4
													input.time-picker(type="text" placeholder="Hour")
										.col-12
											.row-check
												.item
													input(type="checkbox" id="Schedule-1")
													label(for="Schedule-1") I certify that all the information supplied by me in this application is complete and correct
												.item
													input(type="checkbox" id="Schedule-2")
													label(for="Schedule-2") I give my consent to the processing of my data by AUV. Re information I provide will be held and used for the purposes of: processing my application for study and for future student administration.
					.tab-footer
						button.btn.btn-next Next Step
				.text-for-step-3
					p Provide IELTS or TOEFL examination scores or take our English Placement Examination prior to admission to the program. We also strongly recommend that students arrange an in-person interview with one of our Admissions Officers.
					p Upon receipt of all required documents, the Admissions Committee will review admission applications and, subject to the applicant meeting the requisite selection criteria, issue a letter of acceptance within five days.
