section.course-descriptions
	.container
		.container-custom.size-1365px
			.course-descriptions__wrapper.title-common
				.title
					h2 Course Descriptions
				.content
					.list-subject
						ul
							li.active
								a(href="") ACCOUNTING
							-for(var i = 0; i < 29; i++)
								li
									a(href="") ACCOUNTING
					.desc
						.title-desc
							p ACCOUNTING
						.desc-content
							p ACCOUNTING 231: Introduction to Financial Accounting (ACCT 231, 3 Credits)
							p Examination of the accounting information reported to external users and the method of creation and interpretation of financial statements and disclosures. Concepts, methods and applications of the accounting cycle, valuation of assets, liabilities and owners’ equity, measurement of net income, and reporting of cash flows. Review of international information systems, ethical issues, and the profession of accounting (cost, taxation, auditing and internal control).
						.desc-content
							p ACCOUNTING 231: Introduction to Financial Accounting (ACCT 231, 3 Credits)
							p Examination of the accounting information reported to external users and the method of creation and interpretation of financial statements and disclosures. Concepts, methods and applications of the accounting cycle, valuation of assets, liabilities and owners’ equity, measurement of net income, and reporting of cash flows. Review of international information systems, ethical issues, and the profession of accounting (cost, taxation, auditing and internal control).
						.desc-content
							p ACCOUNTING 231: Introduction to Financial Accounting (ACCT 231, 3 Credits)
							p Examination of the accounting information reported to external users and the method of creation and interpretation of financial statements and disclosures. Concepts, methods and applications of the accounting cycle, valuation of assets, liabilities and owners’ equity, measurement of net income, and reporting of cash flows. Review of international information systems, ethical issues, and the profession of accounting (cost, taxation, auditing and internal control).
						.desc-content
							p ACCOUNTING 231: Introduction to Financial Accounting (ACCT 231, 3 Credits)
							p Examination of the accounting information reported to external users and the method of creation and interpretation of financial statements and disclosures. Concepts, methods and applications of the accounting cycle, valuation of assets, liabilities and owners’ equity, measurement of net income, and reporting of cash flows. Review of international information systems, ethical issues, and the profession of accounting (cost, taxation, auditing and internal control).
						.desc-content
							p ACCOUNTING 231: Introduction to Financial Accounting (ACCT 231, 3 Credits)
							p Examination of the accounting information reported to external users and the method of creation and interpretation of financial statements and disclosures. Concepts, methods and applications of the accounting cycle, valuation of assets, liabilities and owners’ equity, measurement of net income, and reporting of cash flows. Review of international information systems, ethical issues, and the profession of accounting (cost, taxation, auditing and internal control).
						.desc-content
							p ACCOUNTING 231: Introduction to Financial Accounting (ACCT 231, 3 Credits)
							p Examination of the accounting information reported to external users and the method of creation and interpretation of financial statements and disclosures. Concepts, methods and applications of the accounting cycle, valuation of assets, liabilities and owners’ equity, measurement of net income, and reporting of cash flows. Review of international information systems, ethical issues, and the profession of accounting (cost, taxation, auditing and internal control).
						.desc-content
							p ACCOUNTING 231: Introduction to Financial Accounting (ACCT 231, 3 Credits)
							p Examination of the accounting information reported to external users and the method of creation and interpretation of financial statements and disclosures. Concepts, methods and applications of the accounting cycle, valuation of assets, liabilities and owners’ equity, measurement of net income, and reporting of cash flows. Review of international information systems, ethical issues, and the profession of accounting (cost, taxation, auditing and internal control).
