extends _templates/_layout/_layout.pug

block var
	- let title = 'Page | Index';
	- let bodyClass = 'index-page';

//- block loading
//- 	include _templates/_layout/_loading
block banner,breadcrumb
	include _templates/_layout/_mainBanner
block main
	include _templates/index/i-1
	include _templates/index/i-2
	include _templates/index/i-3
	include _templates/index/i-4
	include _templates/index/i-5
block scripts
	script.
		var locationsInput = [
			{
				lat: 21.011568,
				lng: 105.849071,
				title: 'HHCCV VIETNAMESE',
				icon: './assets/icons/map.png'
			},
		]
	script(src="./js/GoogleMapController.min.js")
