extends _templates/_layout/_layout.pug

block var
	- let title = 'Student | Index';
	- let bodyClass = 'student-page';
	- let linkBanner = './assets/images/index/banner.png';
	- let titleBanner = 'TRANG CHỦ';
//- block loading
block banner,breadcrumb
	include _templates/_layout/_mainBanner
block main
	include _templates/student/st-1
	include _templates/student/st-2
	include _templates/student/st-7
	include _templates/student/st-3
	include _templates/student/st-4
	include _templates/student/st-5
	include _templates/student/st-6
	.sectionController
block scripts
