
//- About-AUV
section.about-auv
	.container 
		.container-custom.size-1365px
			.auv-about-content.row
				.block-about.col-lg-6
					.auv-right
						.block-main-title
							.title
								p About AUV
						.block-list-item
							.text
								p The American University in Vietnam (AUV) is a distinctive university providing American higher education to quality-conscious individuals. AUV is ideal for those who demand superb instruction, advanced career skills, a supportive learning environment, and direct placement for graduate studies in the USA.Our curriculum is entirely based on the American model of university education. Before majoring in any specialized area of interest, students must first demonstrate proficiency in communication and basic skills..., and then strengthen their critical thinking and analytical skills through an integrated, comprehensive study of natural sciences...
						.btn-remore
							button.btn
								a(href="about.html")
									span MORE 
									img.svg(src="./assets/images/index/arrow1.svg", alt="")
				.block-about.col-lg-6
					.auv-left
						.block-img
							.img
								img.object-cover.fullsize(src="./assets/images/index/index-1.png", alt="")
								.note
									p ABOUT AUV
	.d-none
		#popup-page.popup
			.index-popup
				.swiper-container
					.swiper-wrapper
						-for(var i = 0; i< 3; i++)
							.swiper-slide
								img.object-cover.fullsize(src="./assets/images/index/popup.png", alt="")
						
