//- Events&news
section.events-news
	.container
		.container-custom.size-1365px
			.title-auv-evn
				.block-title
					p Events & News
			.news-events-content
				.news-events-list
					.wrapper
						.block-news
								a(href="#")
									.news-img
										img.object-cover.fullsize(src="./assets/images/index/new-1.png", alt="")
									.news-desc
										.time 18/08/2020
										p.title VietNam aviation alliance education and training partnership meeting
										button.btn-rmore
											span More 
											img.object-cover.svg(src="./assets/images/index/arrow.svg", alt="")
						.block-news
								a(href="#")
									.news-img
										img.object-cover.fullsize(src="./assets/images/index/new-2.png", alt="")
									.news-desc
										p.title The American University in Vietnam Opening Ceremony 2017-2018.
						.block-news
								a(href="#")
									.news-img
										img.object-cover.fullsize(src="./assets/images/index/new-3.png", alt="")
									.news-desc
										p.title AUV Hosts US Research Students.
						.block-news
								a(href="#")
									.news-img
										img.object-cover.fullsize(src="./assets/images/index/new-4.png", alt="")
									.news-desc
										p.title Virginia commonwealth university visited the american university in VietNam for potential partnership
						.block-news
								a(href="#")
									.news-img
										img.object-cover.fullsize(src="./assets/images/index/D-1.png", alt="")
									.news-desc
										p.title Arizona State University and the American University in Vietnam Launch ASUV Strategic Partnership
