//- Academics AUV
section.academics-auv
	.container
		.container-custom.size-1365px
			.title-auv-aca
				.block-title
					h2 Academics
				.title-text 
					p Whether​ ​it​ ​is​ ​business,​ ​hospitality​ ​management,​ ​communication​ ​or​ ​computer​ ​science,​ ​the American​ ​University​ ​in​ ​Vietnam​ ​provides​ ​each​ ​student​ ​with​ ​a​ ​personalized​ ​education.​ ​Every graduate​ ​will​ ​leave​ ​with​ ​exceptional​ ​skills​ ​in​ ​English,​ ​they​ ​will​ ​be​ ​analytical​ ​and​ ​prepared​ ​for​ ​a rewarding​ ​career​ ​or​ ​future​ ​education.
			.row.list-item-auv
					.col-lg-4.col-6.item
						.content-items
							.img 
								img.object-cover(src="./assets/images/index/business.png", alt="")
							.content
								.title 
									p BUSINESS
								.text 
									p Our business program offers a combination of in-class instruction, project-based learning, “hands-on” assignments, practical experience...	
							a(href="academic.html").btn-more
									span More 
									img.object-cover.svg(src="./assets/images/index/arrow.svg", alt="")
					.col-lg-4.col-6.item
						.content-items
							.img 
								img.object-cover(src="./assets/images/index/communication.png", alt="")
							.content
								.title 
									p COMMUNICATIONS
								.text 
									p Vietnam has a long literary tradition and students like you who are “wired” to the web. The AUV programs in communication train journalists...
							a(href="academic.html").btn-more
									span More 
									img.object-cover.svg(src="./assets/images/index/arrow.svg", alt="")
					.col-lg-4.col-6.item
						.content-items
							.img 
								img.object-cover(src="./assets/images/index/hospital.png", alt="")
							.content
								.title 
									p HOSPITALITY MANAGEMENT
								.text 
									p Hospitality Management and Tourism represent one of the fastest growing industries in Vietnam, especially near Da Nang...
							a(href="academic.html").btn-more
									span More 
									img.object-cover.svg(src="./assets/images/index/arrow.svg", alt="")

