//- Why AUV 
section.index-earth
	.container
		.container-custom.size-1365px
			.about-content.block-padding
				.title
					p Why AUV
				.row.list-items
					.item-left
						.block
							.related-text 
								h2 01
							.text
								p Excellent​ ​American​ education​ ​here​ ​in​ ​Vietnam.
						.block
							.related-text 
								h2 02
							.text
								p Faculty​ ​with​ ​the​ ​highest​ ​US​ ​academic​ ​credentials.
						.block
							.related-text 
								h2 03
							.text
								p Joint​ ​and​ ​Dual​ degree​ ​options.
					.imp
						img.object-cover(src="./assets/images/index/D.png", alt="")
					.item-right
						.block
							.related-text 
								h2 04
							.text
								p1 Support​ ​from​ ​higher​ ​education​ ​leaders​ ​in​ ​the​ ​US​ ​including​ ​The​ ​Institute​ ofInternationalEducation​ ​(IIE)​ ​and​ ​the​ ​United​ ​Nations​ ​Institute​ ​for​ ​Training​ and​ ​Research​ ​(UNITAR).
						.block
							.related-text 
								h2 05
							.text
								p Intimate​ ​classroom​ ​sizes​ ​for​ ​personalized​ ​instruction​ ​in​ ​English.
						.block
							.related-text 
								h2 06
							.text
								p Small class sizes create interaction and bond between teachers and students.
