section.auv-section(data-section="AUV Partners")
	.container
		.auv-section_wrapper
			.container-custom
				.title 
					p AUV Partners 
				.auv-main-swiper.swiper-button-yellow
					.swiper-container
						.swiper-wrapper
							.swiper-slide
								.auv-item
								a(href="#").img
										img.object-cover(src="./assets/images/index/14.png", alt="")
							.swiper-slide
								.auv-item
								a(href="#").img
										img.object-cover(src="./assets/images/index/13.png", alt="")
							.swiper-slide
								.auv-item
								a(href="#").img
										img.object-cover(src="./assets/images/index/12.png", alt="")
							.swiper-slide
								.auv-item
								a(href="#").img
										img.object-cover(src="./assets/images/index/13.png", alt="")
							.swiper-slide
								.auv-item
								a(href="#").img
										img.object-cover(src="./assets/images/index/13.png", alt="")
					.swiper-button-next
					.swiper-button-prev