section.auv-section(data-section="AUV Partners")
	.container
		.auv-section_wrapper
			.container-custom
				.title 
					p AUV Partners 
				.auv-main-swiper.swiper-button-yellow
					.swiper-container
						.swiper-wrapper
							-for(var i = 0; i< 19; i++)
								.swiper-slide
									.auv-item
									a(href="#").img
											img.object-cover.fullsize(src=`./assets/images/logo/logo-${i+1}.png`, alt="")
					.swiper-button-next
					.swiper-button-prev