section.note-section 
	.container 
		.container-custom
			.auv-new-content
				.auv-new-title 
					h2 News & Events
				.block-main-title
					.title 
						p Annoucements 
				.news-events-content.row
					.block-list-item
						.block__item
								.img.col-5
									img.object-cover.fullsize(src=`./assets/images/index/new-1.png`, alt="something")
								.item--desc.col-7
									h2.title VietNam aviation alliance education and training partnership meeting
									.news--date
										span 23.07.2020
						.block__item
								.img.col-5
									img.object-cover.fullsize(src=`./assets/images/index/new-2.png`, alt="something")
								.item--desc.col-7
									h2.title The American University in Vietnam Opening Ceremony 2017-2018
									.news--date
										span 23.07.2020
						.block__item
								.img.col-5
									img.object-cover.fullsize(src=`./assets/images/index/new-3.png`, alt="something")
								.item--desc.col-7
									h2.title AUV Hosts US Research Students
									.news--date
										span 23.07.2020
						.block__item
								.img.col-5
									img.object-cover.fullsize(src=`./assets/images/index/new-4.png`, alt="something")
								.item--desc.col-7
									h2.title Virginia commonwealth university visited the american university in VietNam for potential partnership
									.news--date
										span 23.07.2020
						.block__item
								.img.col-5
									img.object-cover.fullsize(src=`./assets/images/index/new-5.png`, alt="something")
								.item--desc.col-7
									h2.title Arizona State University and the American University in Vietnam Launch ASUV Strategic Partnership
									.news--date
										span 23.07.2020
			ul.pagination
				li.pagination-prev
					a(href="#")
						img.object-cover(src="./assets/icons/arw.svg", alt="")
				li
					a(href="#") 1
				li.active
					a(href="#") 2
				li
					a(href="#") 3
				li
					a(href="#") 4
				li.pagination-dot
					a(href="#") ...
				li
					a(href="#") 10
				li.pagination-next
					a(href="#")
						img.object-cover(src="./assets/icons/arwnex.svg", alt="")