@font-face {
	font-family: Futura-Medium;
	src: url('../fonts/futura-md-bt-medium.ttf');
}
@font-face {
	font-family: Futura-Light;
	src: url('../fonts/futura light bt.ttf');
}
@font-face {
	font-family: MinionPro-Bold;
	src: url('../fonts/MinionPro-Bold.otf');
}
@font-face {
	font-family: MinionPro-It;
	src: url('../fonts/MinionPro-It.otf');
}
@font-face {
	font-family: Montserrat-Bold;
	src: url('../fonts/montserrat-bold.otf');
}
@font-face {
	font-family: Futura-Heavy;
	src: url('../fonts/Futura Heavy font.ttf');
}
