.schedule-student {
	background: #0D1F3C;
	padding-bottom: 160px;
	@media (max-width: 1024px) {
		padding-bottom: 40px;
	}
	.container { 
		.container-custom {
			.schedule-title{
				padding-top: 82px;
				margin-bottom: 95px;
				@media (max-width: 1024px) {
					padding-top: 30px;
					margin-bottom: 30px;
				}
				p {
					text-align: center;
					font-size: 50px;
					font-family: MinionPro-Bold;
					color: #FFFFFF;
				}
			}
			.schedule-img  {
				img {
					position: relative;
				}
				.desc {
					position: absolute;
					top: 60%;
					left: 10%;
					p {
						font-size: 8rem;
						font-family: MinionPro-Bold;
						color: #989898;
					}
					@media (max-width: 1439.98px) {
						p {
							font-size: 5rem;
						}
					}
				}
				@media (max-width: 575.98px) {
					.desc {
						top: 75%;
						p {
							font-size: 3rem;
						}
					}
				}
			}
		}
		.tec-lab {
			margin-top: 160px;
			@media (max-width: 1024px) {
				margin-top: 10px;
			}
			.block-list-items {
				max-width: 1500px;
				background: white;
				padding: 80px 80px 80px 66px;
				display: flex;
				flex-wrap: wrap;
				margin-left: auto;
				margin-right: auto;
				.img--news {
					max-width: 50%;
				}
				.items--desc {
					padding-left: 56px;
					-ms-flex: 0 0 50%;
					flex: 0 0 50%;
					max-width: 50%;

					.title {	
						max-width: 435px;
						position: relative;
						padding: 30px 0 50px 0;
						font-size: 5rem;
						color: #0B1F44;
						font-family: MinionPro-Bold;
						@media (max-width: 1024px) {
							font-size: 4.5rem;
						}
						&::after {
							content: '';
							position: absolute;
							width: 25px;
							height: 1px;
							bottom: 10%;
							left: 0;
							background: #CF910C;
						}
					}
					.info-desc{
						p {
							color: #707070;
							font-size: 2rem;
							font-family: Futura-Light;

						}
				}
			}
		@media (max-width: 1023.98px) {
			.img--news {
				-ms-flex: 0 0 100%;
				flex: 0 0 100%;
				max-width: 100%;
				text-align: center;
			}
			.items--desc {
				padding-left: 0px !important;
				padding-left: 56px;
				-ms-flex: 0 0 100%;
				flex: 0 0 100%;
				max-width: 100%;
				.title {
					max-width: 100%;
					padding: 10px 0 20px 0;
					&::after {
						content: none;
					}
				}
			}
		}
		}
	}
	@media (max-width: 1023.98px) {
		.tec-lab {
			padding: 50px 0 ;
			.block-list-items {
				margin: 0 !important;
				padding: 20px !important;
			}
		}
	}
	}
}