.camp-life {
	.container {
		margin-bottom: 92px;
		.container-custom {
			.title {
				text-align: center;
				padding: 105px 0 110px;
				p {
					font-size: 5rem;
					font-family: MinionPro-Bold;
					color: #0B1F44;
				}
			}
		}
	}
}